[3:15 PM] Keerthana Chelluboina
<template>
    <div class="dashboardOne">
 <div class="green-box"></div> <!-- New div for the green box -->
     <div class="nav-bar">
         <div class="title">
            RENTMATE
      </div>
      <div class="list-items">
                <li>Home</li>
                <li>How It Works </li>
                <li>Application</li>
      </div>
    
     </div>
     <div class="login">
                <button class="signup-btn">Sign Up</button>
                <button class="login-btn">Login</button>
            </div>
  <div class="content-wrapper">
         <div class="vertical-container">
  <div>
    <p  class="content-text">Easy and Fast way to get your</p>
       <p  class="heading">Residential Rent  <br>Agreement Document</p>
  </div>
  <div>
    <button class="letstart">Let's Start</button>
  </div>
</div>
            <div class="vertical-line"></div> <!-- Vertical line div -->
        </div>
        <!-- image -->
        <img :src="imageHome" alt="home" class="imagecontainer">
   
    </div>
</template>
<script>
export default {
    data() {
    return {
        imageHome: require('@/assets/Prac/home.png')
    };
}
 
}
</script>
 
<style scoped>
 @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
 
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 18vh;
    margin-left: 159px;
    gap: 160px;
    flex-grow: 1;  
 
}
.dashboardOne{
    height: 791px;
}
.imagecontainer{
     position: absolute;
    top: 239px;
    right: 209px;
    width: 597px;
    height: 529px;
}
.content-text{
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 0;
}
 
.vertical-container {
  display: flex;
  flex-direction: column;
      margin-top: 160px;
    margin-left: 211px;
}
 
.letstart{
     background-color:white;
    border: 1px solid #58A65F;
    color: #58A65F;
    border-radius: 31px;
    font-size: 20px;
    padding: 13px 41px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.letstart:hover{
     background-color:#58A65F;
     color: white;
 
}
.heading{
    font-size: 36px;
    color: #58A65F;
    font-weight: 900;
    margin-top: 0;
 
}
.easy{
font-family: 'Inter', sans-serif;
color: #000000;
 font-weight: bold;
 
}
.vertical-line {
    position: absolute;
    top: 290px;
    left: 196px;
    right: calc(100% - 100px);
    height: 25%;
    width: 6px;
    border-radius: 10px;
    background-color: #58A65F;
    }
       .content-wrapper {
        display: flex;
        align-items: center;
        margin-right: 20px; /* Adjust margin for spacing */
    }
 
.signup-btn,
    .login-btn {
     background-color: #58A65F;
    border: 5px solid white;
    color: white;
    border-radius: 31px;
    font-size: 20px;
    padding: 11px 34px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    }
 
    .signup-btn:hover,
    .login-btn:hover {
        background-color: white; /* Change background color on hover */
        color: #64AD7D; /* Change text color on hover */
    }
    .green-box {
        width: 488px;
        height: 800px;
        background-color: #58A65F; /* Green color */
        position: absolute;
        top: 0;
        right: 0;
    }
.list-items{
      display: flex;
    flex-direction: row;  
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    list-style: none;
    gap: 100px;
    transition: transform 2s ease-in-out;
}
    .list-items li:hover {
        color: #58A65F;
        transform: scale(1.1);

    }

    gap: 124px;
 
 
}
.login{
    position: absolute;
    top: 40px;
    right: 70px;
    display: flex;
    flex-direction: row;  
    font-size: 20px;
    padding: 10px 10px;
    gap: 30px;
    list-style: none;
    margin-left: 40px;
}
.title{
    color: #64AD7D;
    font-size: 28px;
    font-family: 'Krona One', sans-serif;
 
}
</style>
 