<template>
    <div class="dashboardTwo">
        <div class="styled-div ">
            To download and print your Residential Rental Agreement,<br>you must select a free or premium licence.
        </div>
        <div class="heading-in-reviews">
            Why we Choose You.. ?
        </div>
<div class="reviews">
            <div class="card">
    <img class="card-image" src="@/assets/Prac/fast.png" alt="Fast and Easy Booking">
    <div class="card-content">
        <h2>Fast and Easy Booking</h2>
        <p>Discover hassle-free booking with our intuitive platform. Say goodbye to long waits and complicated processes. Book your next stay in seconds!</p>
    </div>
</div>
        <div class="card">
    <img class="card-image" src="@/assets/Prac/secure.png" alt="Secure">
    <div class="card-content">
        <h2>Secure </h2>
        <p>Your document security is our priority. Rest assured knowing your information is encrypted and protected at every step. Book with confidence!</p>
    </div>
</div>
        <div class="card">
    <img class="card-image" src="@/assets/Prac/satisfied.png" alt="Satisfied Customers">
    <div class="card-content">
        <h2>Satisfied Customers</h2>
        <p>Join our community of satisfied customers who have experienced the ease and reliability of our services. Your comfort and satisfaction are guaranteed..</p>
    </div>
</div>
</div>
    </div>
</template>

<style scoped>
.dashboardTwo{
    height: 750px;
}
.reviews{
    display: flex;
    flex-direction: row;
}
.card {
    max-width: 371px;
    margin-top: 60px;
    margin-left: 100px;
    border-radius: 33px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; 
}

.card:hover {
    transform: translateY(-20px); 
}

    .card-image {
  display: block;
    margin: 41px auto 0;
    width: 100px;
    height: auto;
    }

    .card-content {
        padding: 20px; /* Add padding for content */
        text-align: center; /* Center align text */
    }
  .styled-div {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 27px;
    text-align: center;
    border: none;
    font-size: 26px;
    margin: 35px auto;
    max-width: 70%;
    padding: 46px;
    }
    .heading-in-reviews{
    font-size: 32px;
    text-align: center;
    font-weight: 550;
    margin-top: 50px;

    }
</style>