<template>
<div class="DashboardThree">
    <!-- first division -->
      <div class="total-container">
    <div  class="title">
      Featured Companies
    </div>
    <div class="button-container">
      <button v-for="(button, index) in buttons" :key="index" class="scrolling-button" :style="{animationDelay: `${index * 0.2}s`}">
        <img :src="require(`@/assets/Prac/${button.image}`)" alt="Button Image" class="button-image">
      </button>
    </div>
  </div>
<!-- second division -->
<div>
    <div class="title">
What Customers Are Saying ?
</div>
<div>
<div class="card-container"> 
    <div class="card">
    <div class="ratings">
    <span>&#9733;</span>
    <span>&#9733;</span>
    <span>&#9733;</span>
    <span>&#9733;</span>
    <span>&#9734;</span> 
  </div>
  <div class="additional-content">
    <p>Streamlined and user-friendly, this app simplifies rental agreements. Templates are comprehensive and legally sound, perfect for landlords and property managers</p>
  </div>
<div class="picture">
  <img src="@/assets/Prac/home.png" alt="Small Picture">
  <div class="text-container">
    <p><b>keerthana</b></p>
    <i>fashion Designer</i>
  </div>
</div>

</div>

    <div class="card">
    <div class="ratings">
    <span>&#9733;</span>
    <span>&#9733;</span>
    <span>&#9733;</span>
    <span>&#9733;</span>
    <span>&#9734;</span> 
  </div>
  <div class="additional-content">
    <p>Game-changer! This app simplifies drafting, sending, and managing rental agreements. Customizable templates save time and ensure compliance.</p>
  </div>
<div class="picture">
  <img src="@/assets/Prac/home.png" alt="Small Picture">
  <div class="text-container">
    <p><b>Rajesh</b></p>
    <i>Youtuber</i>
  </div>
</div>

</div>

    <div class="card">
    <div class="ratings">
    <span>&#9733;</span>
    <span>&#9733;</span>
    <span>&#9733;</span>
    <span>&#9733;</span>
    <span>&#9734;</span> 
  </div>
  <div class="additional-content">
    <p>Intuitive and accessible, this app revolutionizes rental agreements. Electronically sign documents for a faster, hassle-free leasing process. Highly recommended for landlords.</p>
  </div>
<div class="picture">
  <img src="@/assets/Prac/home.png" alt="Small Picture">
  <div class="text-container">
    <p><b>Ganapathi</b></p>
    <i>Bussiness</i>
  </div>
</div>

</div>
</div>
</div>
</div>
</div>
</template>

<script>
export default {
  data() {
    return {
      buttons: [
        { text: "Button 1", image: "amazon.png" },
        { text: "Button 2", image: "google.png" },
        { text: "Button 3", image: "wipro.png" },
        { text: "Button 4", image: "walmart.png" },
        { text: "Button 5", image: "microsoft.png" }
      ]
    };
  }
};
</script>

<style scoped>
.card-container{
display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 93px;
}
.card {
    width: 361px;
    height: 340px;
    margin: 50px;
    margin-top: 19px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
        border: none;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
}

.content {
  text-align: center;
}

.ratings {
  text-align: center;
}

.ratings span {
  color: gold;
  font-size: 40px; 
}

.additional-content {
      margin: 25px;
    font-size: 20px;
    height: 130px;

}
.picture {
    display: flex;
    align-items: center; 
    flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}

.picture img {
  width: 100px; /* Adjust size of picture as needed */
  border-radius: 50%; /* Make picture circular */
    margin-right: 10px;
}

.picture p {
  font-size: 16px;
  margin-bottom: 5px;
}
.text-container {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack items vertically */
  margin: 0;
}
.text-container i {
    color: grey;
    margin-top: 0;
}
.title{
    padding: 50px;
    font-size: 33px;
    font-weight: 550;
}
.total-container{
     background-color: rgba(88, 166, 95, 0.1);
}
.button-container {
  width: 100%; /* Full width of the parent container */
  overflow: hidden; /* Hide overflowing content */
  white-space: nowrap;
}

.scrolling-button {
    display: inline-block;
    margin: 38px;
    margin-top: 24px;
    margin-bottom: 90px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0px 37px;
    border: none;
    border-radius: 113px;
    animation: scrollAnimation 20s linear infinite; 
}

.button-image {
    display: block;
    padding: 13px ;
    width: 169px;
    height: 59px;
    margin-bottom: 5px;
   
}


@keyframes scrollAnimation {
  0% {
    transform: translateX(600%); /* Start from the right edge of the parent container */
  }
  100% {
    transform: translateX(-600%); /* Scroll to the left edge of the parent container */
  }
}
</style>
