<template>
  <div>
    <div class="left-div-top">
      <i>Last Updated July 28, 2023 </i><br>
      Written by  <a href="#" class="author-link">keerthana</a><br>
      Reviewed by  <a href="#" class="author-link">bhargavi</a> 
    </div>
    <div class="bottom">
      <div class="heading">Subscribe to Our Works</div>
      <div>
        Subscribe to our works to get the latest news, updates and promotion offers
      </div>
      <div>
        <input type="email" class="input-bootom" placeholder="Enter Your Email Address"> 
        <button class="subscribe">Subscribe</button>
      </div>
    </div>
    <div class="footer">
      <div class="flex">
        <div class="join-now">Join Now</div>
         <div class="buttons">
          <button class="green-button">Sign UP</button>
          <button class="green-button">Login</button>
        </div>
      </div>
      <div class="list-items-container">
         <ul>
          <div class="list-headings">Language</div>
          <li>English</li>
          <li>Telugu</li>
          <li>Hindhi</li>
        </ul>
         <ul>
          <div class="list-headings">About Rentmate</div>
          <li>Home</li>
          <li>How It Works</li>
          <li>Testimonal</li>
          <li>Our Team</li>
          <li>Blogs</li>
        </ul>
         <ul>
          <div class="list-headings">Future</div>
          <li>Live Support</li>
          <li>Help</li>
          <li>FAQ</li>
          <li>PrivatePolicy</li>
          <li>SiteMap</li>
        </ul>
        <ul>
          <div class="list-headings">Follow Us</div>
        <div>
    <img class="icon" src="@/assets/Prac/twiter.png" alt="Secure">
    <img class="icon" src="@/assets/Prac/facebook.png" alt="Secure">
    <img class="icon" src="@/assets/Prac/youtube.png" alt="Secure">

        </div>
        </ul>
      </div>
      
      <div class="underline"></div> <button class="support">Support</button>
      <div class="copy-rights"> RENTMATE  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© Rentmate 2024
      </div>
    </div>
  </div>
</template>

<style scoped>
.copy-rights {
  position: absolute;
  bottom: 20px; 
  left: 85px; 
  color: white;
}
.icon{
    width: 35px;
    margin: 20px;
    margin-left: 0;
    height: 35px;
    transition: transform 0.3s ease-in-out;
}
.icon:hover{
   transform: scale(1.1);

}
.list-headings{
  color: gray;
  font-size: 20px;
}
.flex {
  position: relative;
}
.list-items-container {
  color: white;
  display: flex;


}

.list-items-container ul{
margin-left: 80px;
margin-top: 30px;
}

.list-items-container li {
  list-style-type: none;
  margin-top: 20px;
transition: transform 0.3s ease-in-out;

}

.list-items-container li:hover{
   transform: scale(1.1);
  text-decoration: underline;
}

.buttons {
  margin-left: 70px;
}

.join-now {
  color: white;
  font-size: 35px;
  padding: 27px;
  font-weight: 550;
  margin-left: 70px;
}
.support{
    font-weight: 550;
    height: 50px;
    width: 157px;
    margin-top: 291px;
    padding: 0;
    background-color: #58A65F;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    margin-left: 28px;
    border-radius: 35px;
}
.support:hover{
  color: #58A65F;
  background-color: black;
  border: 2px solid #58A65F;
}

.green-button {
  font-weight: 550;
  background-color: #58A65F;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  margin-left: 28px;
  border-radius: 3px;
}

.green-button:hover {
  color: #58A65F;
  background-color: black;
  border: 2px solid #58A65F;
  padding: 8px 18px;
}

.footer {
  background-color: black;
  height: 380px;
  display: flex;
  position: relative; 
}

.underline {
    position: absolute;
    bottom: 62px;
    left: 85px;
    width: 80%;
    height: 2px;
  background-color: white;
}

.subscribe {
  font-size: 17px;
  width: 161px;
  background-color: #3B8AFF;
  border: none;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.input-bootom {
  border: none;
  margin: 40px;
  width: 400px;
  height: 60px;
  font-weight: 900;
  padding-left: 30px;
}

.left-div-top {
  margin-left: 282px;
  margin-top: 20px;
  line-height: 1.6;
}

.left-div-top a {
  color: black;
  text-decoration: none;
}

.bottom {
  background-color: rgba(88, 166, 95, 0.1);
  margin: 150px;
  margin-top: 66px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.6;
}

.heading {
  font-size: 25px;
  font-weight: 550;
  margin-top: 50px;
}
</style>
