<template>
  <div>
    <div class="back">
      <router-link to="/">
        <button class="btn">
          <p>BACK</p>
        </button>
      </router-link>

      <div class="steps">
        <el-steps :active="active" finish-status="success">
          <el-step />
          <el-step />
          <el-step />
        </el-steps>

        <el-button style="margin-top: 12px" @click="next">Next step</el-button>
      </div>

    </div>
    <div class="heading">What type of property is being rented ?</div>
    <div class="rentaltype">
      <div class="image-container" :class="{ 'selected': selectedImage === 'house' }" @click="selectImage('house')">
        <img :src="require('@/assets/Prac/house.png')" alt="House">
        <div class="content">House</div>
      </div>
      <div class="image-container" :class="{ 'selected': selectedImage === 'apartment' }" @click="selectImage('apartment')">
        <img :src="require('@/assets/Prac/apartment.png')" alt="Apartment">
        <div class="content">Apartment</div>
      </div>
      <div class="image-container" :class="{ 'selected': selectedImage === 'condo' }" @click="selectImage('condo')">
        <img :src="require('@/assets/Prac/condo.png')" alt="Condo">
        <div class="content">Condo</div>
      </div>
      <div class="image-container" :class="{ 'selected': selectedImage === 'duplex' }" @click="selectImage('duplex')">
        <img :src="require('@/assets/Prac/duplex.png')" alt="Duplex">
        <div class="content">Duplex</div>
      </div>
      <div class="image-container" :class="{ 'selected': selectedImage === 'mobile' }" @click="selectImage('mobile')">
        <img :src="require('@/assets/Prac/mobile.png')" alt="Mobile">
        <div class="content">Mobile Home</div>
      </div>
    </div>
    <div class="rentaltype1">
      <div class="image-container1" :class="{ 'selected': selectedImage === 'room' }" @click="selectImage('room')">
        <img :src="require('@/assets/Prac/room.png')" alt="Room">
        <div class="content">Room</div>
      </div>
      <div class="image-container1" :class="{ 'selected': selectedImage === 'other' }" @click="selectImage('other')">
        <img :src="require('@/assets/Prac/other.png')" alt="Other">
        <div class="content">Other</div>
      </div>
    </div>
    <div>
      <router-link to='/propertylocation'>
        <button class="first-save">
          SAVE & CONTINUE
        </button>
      </router-link>
      <a href="#" class="first-skip">
        Skip this step for now
      </a>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'

const active = ref(0)

const next = () => {
  if (active.value++ > 2) active.value = 0
}

const selectedImage = ref('house')

const selectImage = (image) => {
  selectedImage.value = image
}
</script>


<style scoped>
.steps{
    width: 364px;
    margin-left: 477px;
}
.first-save {
    background: #5A9DFF;
    color: white;
    border: none;
    margin: 20px;
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 625px;
}
.first-skip {
    color: #0063F3;
    text-decoration: underline;
    text-align: right;
    margin-left:350px;
    font-size:15px;
}

.heading {
    margin: 40px;
    font-size: 25px;
    text-align: center;
    color:#000000;
}

.rentaltype {
    display: flex;
    flex-wrap: wrap;
    margin-left: 172px;
    margin-right: 100px;
}

.rentaltype1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 550px;
    margin-right: 100px;
}

.image-container {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    margin: 33px;
    padding: 9px;
    margin-top: 0;
    text-align: center;
    height: 150px;
    width: 150px;
}
.image-container1 {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    margin: 33px;
    padding: 9px;
    margin-top: 0;
 
    text-align: center;
    height: 150px;
    width: 150px;
}

.image-container:hover{
background-color: #f7f4f4;
}
.image-container.selected {
    border-color:  #5A9DFF; 
    border-width: 4px;
}


.image-container img {
    width: 100px;
    height: 100px;
}

.image-containe1r:hover{
    background-color: #f7f4f4;
  }
 .image-container1.selected {
        border-color:   #5A9DFF; 
        border-width: 4px;
 }
    
    
 .image-container1 img {
        width: 100px;
        height: 100px;
 }
.content {
    margin-top: 15px; 
}
.back{
   margin-left:100px;
   margin-top:30px;
}
.btn {
    background-color: #ffffff;
    color: #0063F3; 
    padding: 10px 25px; 
    border: 2px solid #0063F3; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 16px; 
}
.btn p {
    margin: 0; 
    color:#0063F3;
    font-size:15px;
    text-align: center;
}

</style>
