<template>
    <div>
        <DashboardOne/>
        <DashboardTwo/>
        <DashboardThree/>
        <DashboardFour/>
        <!-- <DashboardFive/> -->

    </div>
</template>
<script>
import DashboardOne from '../components/BeforeLogin/DashboardOne.vue';
import DashboardTwo from '../components/BeforeLogin/DashboardTwo.vue'
import DashboardThree from '../components/BeforeLogin/DashboardThree.vue'
import DashboardFour from '../components/BeforeLogin/DashboardFour.vue';
// import DashboardFive from '../components/BeforeLogin/DashboardFive.vue';


export default {
    components:{
        DashboardOne,
        DashboardTwo,
        DashboardThree,
        DashboardFour,
        // DashboardFive
    }
}
</script>