<template>
  <div>
    <div class="back">
      <router-link to="/MiscellaneousInfo">
      <button class="btn1"> 
      <p>BACK</p>
      </button>
      </router-link>
      </div>
    <div class="container">
      <div class="content">
        <p>Additional Clauses</p>
        <div class="p">
          <p>Do you want to include any additional terms or information?</p>
        </div><br>
        <div class="yes">
        <div class="buttons">
          <button @click="showCard(true)" :class="{ selected : showCard1 }" type="button" class="btn btn-light1">YES</button>
          <button @click="showCard(false)" :class="{ selected : !showCard1 }" type="button" class="btn btn-light1">NO</button>
        </div>
      </div>
    </div>
      <div v-if="showCard1" class="card1">
        <div class="p">
          <p>Additional Clause</p>
        </div>
        <div class="text-area">
          <textarea id="description" rows="15" cols="50" v-model="description"></textarea>
        </div>
      </div>
      <p v-if="showCard1" style="color:#616195; font-size:25px; margin-left:0px; margin-top:30px;" @click="addAnotherClause">
        +Add Another Clause
      </p>
      <div v-for="(clause, index) in additionalClauses" :key="index" class="card1">
        <div class="p">
          <p>Additional Clause</p>
          <!-- Remove symbol to remove the specific clause -->
          <span @click="removeClause(index)" class="remove-symbol">✖</span>
        </div>
        <div class="text-area">
          <textarea v-model="additionalClauses[index].description" rows="4" cols="50"></textarea>
        </div>
      </div>
      <div class="button-container">
<router-link to="/SigningDetails">
  <button type="button" class="btn btn-success">SAVE & CONTINUE</button>
</router-link>
<router-link to="/SigningDetails">
         <p>Skip this step for now</p>
</router-link>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Frequently Asked Questions?</h5>
          <a href="#" class="card-link">When should I include an additional clause?</a><br>
         <div class="tooltip-content">
          You should include an additional clause if there are any terms or issues unique to your situation that have not been addressed in the questionnaire.
         </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showCard1: false,
      description: '',
      additionalClauses: [],
    };
  },
  methods: {
    showCard(option) {
      this.showCard1 = option;
    },
    addAnotherClause() {
      // Add an empty clause to additionalClauses array
      this.additionalClauses.push({ description: '' });
    },
    removeClause(index) {
      // Remove the specific clause from additionalClauses array
      this.additionalClauses.splice(index, 1);
    },
  },
};
</script>


<style scoped>

.tooltip-content {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 30px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  opacity: 0;
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.6s ease, opacity 0.6s ease;
  z-index: 1;
  text-align:left;
}

.card-link:hover + .tooltip-content {
  max-height: 70px; 
  opacity: 1;
}
.container {
    padding:10px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.content{
    padding:10px;
    line-height: 40px;
    color:#000000;
    font-size:30px;
}
.yes {
  margin-left:600px;
}
.content p{
    margin-bottom:-12px;
}

.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }

/* styles.css */
.button-container {
    display: flex;
    gap: 8px;
    margin-top:50px;
    margin-left:650px;

  }
  .button-container p{
    color:#0063F3;
    font-size:16px;
    margin-left:350px;
    text-decoration: underline;
  }
.btn {
    padding: 13px 34px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-light {
    background-color: #c1c4c8;
    color: #212529;
    margin-left:180px;
  }
  
  .btn-success {
    background-color:  #5A9DFF;
    color: #fff;
  }
  .total{
    margin-left:180px;
  }
  
.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1150px;
    position:absolute;
    top:150px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:5px;
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
  }
  
  .button button {
    margin-bottom: 10px; 
    width: 250px; 
    height:38px;
    border-radius:5px;
    border: 1px solid #ccc;
  }
  .button p{
    margin-top:-5px;
    margin-left:15px;
    font-size:15px;
  }
  .button button:active {
    border-color: #0063F3; 
  }
  .p{
    color:#333333;
    font-size:18px;
  }
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width: 120px; 
    height: 45px; 
  }
  .buttons button:active {
    border-color: #0063f3; 
  }
  .card1 {
    position: relative;
    width: 450px;
    height: 350px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:500px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }
  .text-area{
    margin-left:0px;
  }
  .remove-symbol {
    cursor: pointer;
    color: red;
    font-weight: bold;
    margin-left:350px;
    margin-top:-50px;
  }

  .buttons button.selected {
    border: 4px solid  #5A9DFF;
  }
  .back{
    margin-left:100px;
    margin-top:30px;
  }
  .btn1 {
     background-color: #ffffff;
     color: #0063F3; 
     padding: 10px 25px; 
     border: 2px solid #0063F3; 
     border-radius: 10px; 
     cursor: pointer; 
     font-size: 16px; 
  }
  .btn1 p {
     margin: 0; 
     color:#0063F3;
     font-size:15px;
     text-align: center;
  }



</style>