<template>
  <div>
    <div class="back">
      <router-link to="/NoticeInfo">
      <button class="btn1"> 
      <p>BACK</p>
      </button>
      </router-link>
      </div>
    <div class="container">
      <p>Additional Charges</p>
      <div class="content">
        <div class="p">
          <p>Who will pay for services and amenities?</p>
        </div><br>
        <div class="button">
          <div class="button-class">
          <button :class="{ specified: !specified }">
            <img src="../assets/Prac/DonotSpecify.png">
            <p >Do not Specify</p>
          </button><br>
          <button  @click="toggleSpecify" :class="{ specified: specified }">
            <img src="../assets/Prac/Specify1.png">
            <p>Specify</p>
          </button>
        </div>
      </div>
    </div>
      <div v-if="specified" class="table">
        <table>
          <tr v-for="(row, rowIndex) in tableData" :key="rowIndex">
            <td v-for="(cell, colIndex) in row" :key="colIndex">
              <!-- Check if the cell is a checkbox or text -->
              <template v-if="colIndex === 0 || rowIndex === 0">
                {{ cell }}
              </template>
              <template v-else>
                <input type="checkbox" :checked="getCheckboxValue(rowIndex, colIndex)" @change="toggleCheckbox(rowIndex, colIndex)" />
              </template>
            </td>
          </tr>
        </table>
      </div>
      <div class="button-container">
<router-link to="/ImprovementInfo">
  <button type="button" class="btn btn-success">SAVE & CONTINUE</button>
</router-link>
<router-link to="/ImprovementInfo">
         <p>Skip this step for now</p>
</router-link>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Frequently Asked Questions?</h5>
          <a href="#" class="card-link">What are additional charges?</a>
        <div class="tooltip-content">Additional charges are costs for various parts of the property in addition to the rent, such as for taxes or amenities. For example, additional charges might include electricity costs, maintenance costs, or a proportional share of property tax.
          <br><br>
          Different states and union territories have different rules about what can be charged to a tenant as an additional charge. You should ensure that you are permitted by law to add a particular additional charge to your document before you do so.</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [
        ['', 'Tenant Pays   ', 'Landlord Pays   ', 'Do not specify   '],
        ['Electricity ', false, false, false],
        ['Water ', false, false, false],
        ['Sanitation  ', false, false, false],
        ['Drainage  ', false, false, false],
        ['Air Conditioning  ', false, false, false],
        ['Property/House Tax  ', false, false, false],
        ['Additional Storage Space  ', false, false, false],
        ['Other Charges ', false, false, false],
      ],
      specified: false,
      selectedCheckbox: new Array(9).fill(-1),
      
    };
  },
  methods: {
    getCheckboxValue(rowIndex, colIndex) {
      return this.tableData[rowIndex][colIndex];
    },
    updateCheckboxValue(rowIndex, colIndex) {
      this.$set(this.tableData[rowIndex], colIndex, !this.tableData[rowIndex][colIndex]);
    },
    toggleSpecify() {
    this.specified = !this.specified;
  },
  toggleCheckbox(rowIndex, colIndex) {
    this.selectedCheckbox, rowIndex, colIndex
    
     
    },
  },
};
</script>

<style scoped>

.tooltip-content {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 30px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  opacity: 0;
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.6s ease, opacity 0.6s ease;
  z-index: 1;
  text-align:left;
}

.card-link:hover + .tooltip-content {
  max-height: 70px; 
  opacity: 1;
}
.container {
    padding:10px;
    font-family: 'Inter', sans-serif;
    text-align:center;
}
.content{
    padding:10px;
    line-height: 40px;
}
.container p{
    margin-bottom:-5px;
    font-size: 30px;
}
.button-class {
  margin-left:550px;
}
.content p{
   color:black;
   font-size:22px;
   line-height: 30px;
   margin-left:0px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }

/* styles.css */
.button-container {
    display: flex;
    gap: 8px;
    margin-top:50px;
    margin-left:650px;
  }
  .button-container p{
    color:#0063F3;
    font-size:15px;
    margin-left:350px;
    text-decoration: underline;
  }
.btn {
    padding: 13px 34px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-success {
    background-color: #5A9DFF;
    color: #fff;
  }
  .total{
    margin-left:180px;
  }
  
.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1100px;
    position:absolute;
    top:200px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:5px;
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
  }
  
  .button button {
    display: flex;
    padding:10px;
    margin-bottom: 10px; 
    width: 390px; 
    height:80px;
    border-radius:5px;
    border: 1px solid #ccc;
  }
  .button button img{
    width:50px;
    height:50px;
  }
  .button p{
    margin-top:15px;
    margin-left:15px;
    font-size:20px;
    color:#4d4d4d;
  }
  .button button:active {
    border-color:  #0063F3; 
  }
  .p{
    color:black;
    font-size:22px;
  }
  .button button.specified {
    border: 4px solid #5A9DFF;
  }
  .table {
    margin-top: 20px;
    margin-left:480px;
  }
  
  table {
    width: 600px;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #edecec;
    color:#4d4d4d;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    font-size:18px;
   
  }
  
  th {
    background-color: #f2f2f2;
    color:#616195;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9; /* Set the background color for even rows */
  }
  
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    background-color: #616195; /* Set the color when the checkbox is checked */
  }
  .back{
    margin-left:100px;
    margin-top:30px;
  }
  .btn1 {
     background-color: #ffffff;
     color: #0063F3; 
     padding: 10px 25px; 
     border: 2px solid #0063F3; 
     border-radius: 10px; 
     cursor: pointer; 
     font-size: 16px; 
  }
  .btn1 p {
     margin: 0; 
     color:#0063F3;
     font-size:15px;
     text-align: center;
  }
  
  


</style>