<template>
    <div>
      <div class="back">
        <router-link to="/propertyUse">
        <button class="btn1"> 
        <p>BACK</p>
        </button>
        </router-link>
        </div>
        <div class="container">
        <div class="content">
            <p>
                Deposit Details
            </p>
        </div>
       <div class="total">
       <div class="end">
        <p>Will a rental deposit be required?</p>
        <div class="yesno">
        <div class="buttons">
            <button @click="handleGuarantorOption('YES')" :class="{ 'btn-selected': guarantorOption === 'YES' }" type="button">YES</button>
            <button @click="handleGuarantorOption('NO')" :class="{ 'btn-selected': guarantorOption === 'NO' }" type="button" >NO</button>
        </div>
        </div>
    </div>
    <div v-if="guarantorOption === 'YES'" class="group">
        <label for="amount">Amount of rental deposit:</label>
        <input required="" type="text" id="amount" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
    </div>
    <div  v-if="guarantorOption === 'YES'" class="group">
      <label for="time">Time to return deposit end of tenancy:</label>
      <input required="" type="text"  class="input">
      <span class="highlight"></span>
      <span class="bar"></span>
      <p>(e.g.30 days)</p>
  </div>
  </div>
  <div class="button-container">

<router-link to="/NoticeInfo">
      <button type="button" class="btn btn-success"> 
        SAVE & CONTINUE   
    </button>
</router-link>

<router-link to="/NoticeInfo">
      <p>Skip this step for now</p>
</router-link>
  </div>
       <div class="card">
        <div class="card-body">
          <h5 class="card-title">Frequently Asked Questions ?</h5>
          <a href="" class="card-link">What is a rental deposit?</a><br>
          <div class="tooltip-content">A rental deposit is a sum of money the tenant pays to the landlord to guarantee that the tenant will fulfil their obligations under the rental agreement. Before you add a rental deposit, you should ensure that landlords are permitted to hold rental deposits in your state/union territory.</div>
        </div>
      </div>
      </div>
</div>
</template>

<script> 
export default{
  data() {
    return {
      guarantorOption: '', 
      selectedButton: '',
    };
  },
  methods: {
    handleGuarantorOption(option) {
      // Update the guarantor option
      this.guarantorOption = option;
    },
    selectButton(button) {
      // Update the selected button
      this.selectedButton = button;
    },
  },

};

</script>

<style scoped>

.tooltip-content {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 30px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  opacity: 0;
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.6s ease, opacity 0.6s ease;
  z-index: 1;
}

.card-link:hover + .tooltip-content {
  max-height: 70px; 
  opacity: 1;
}
.container {
    padding:10px;
    font-family: 'Inter', sans-serif;
    text-align:center;
}
.content{
    padding:10px;
    line-height: 40px;
    color:rgb(77, 119, 14);
}
.content p{
    margin-bottom:-12px;
    font-size:30px;
    color:#000000;
}
.content b{
   color:black;
   font-size: 25px;
   line-height: 20px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }

/* styles.css */
.button-container {
    display: flex;
    gap: 8px;
    margin-top:50px;
    margin-left:650px;
  }
  .button-container p{
    color:#0063F3;
    font-size:15px;
    margin-left:350px;
  }
.btn {
    padding: 13px 34px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }   
  .btn-success {
    background-color:  #5A9DFF;
    color: #fff;
  }
  .total{
    margin-left:0px;
  }
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width:130px;
    height:75px;
  }
  .buttons button:active {
    border-color: #0063F3; 
  }
.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1100px;
    position:absolute;
    top:100px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:5px;
  }
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width: 110px; 
    height: 35px; 
  }
  .buttons button:active {
    border-color: #0063F3; 
  }
  .p{
    margin-left:-300px;
    line-height: 30px;
    font-size:20px;
  }
  .card1 {
    position: relative;
    width: 550px;
    height: 400px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:200px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }
  .group {
    position: relative;
    font-size:20px;
    margin-top:20px;
    text-align:left;
    color:#000000;
    margin-left:600px;
   }
   .group p{
    font-style:italic;
    font-size:16px;
    color:#333333;

   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }
   
   .input:focus {
    outline: none;
   }
   
   label for time{
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
   }
   .yesno {
    margin-left:620px;
   }
   .bar {
    position: relative;
    display: block;
    width: 550px;
   }
   .button {
    display: flex;
    flex-direction: column;
  }
  .button button {
    margin-bottom: 10px; 
    width: 350px; 
    height:40px;
    border-radius:5px;
    border: 1px solid #ccc;
    margin-left:-40px;
    background-color: #f7f9fc;
  }
  .button p{
    margin-top:8px;
    margin-left:20px;
    font-size:18px;
    color:#000000;
  }
  .button button:active {
    border-color:  #0063F3; 
  }
  .end p{
    color:#000000;
    font-size:20px;
  }
  .btn-selected {
    border: 4px solid  #5A9DFF !important; 
  }
  .back{
    margin-left:100px;
    margin-top:30px;
  }
  .btn1 {
     background-color: #ffffff;
     color: #0063F3; 
     padding: 10px 25px; 
     border: 2px solid #0063F3; 
     border-radius: 10px; 
     cursor: pointer; 
     font-size: 16px; 
  }
  .btn1 p {
     margin: 0; 
     color:#0063F3;
     font-size:15px;
     text-align: center;
  }
  
  
   
</style>