<template>
    <div>
        <div class="back">
            <router-link to="/SigningDetails">
            <button class="btn1"> 
            <p>BACK</p>
            </button>
            </router-link>
            </div>
        <div class="content">
            <p>To download and print your Residential Rental<br>
                 Agreement, you must select a free or premium licence.</p>
            </div>
            <div class="button">
            <button class="licence">
                SELECT A LICENCE
             </button>
    </div>
    <div class="total-div">
        <div class="heading-in-agreement">
            Your Residential Rental Agreement
        </div>
        <div class="scroll-container">
        <!-- Content goes here -->
        <div class="agreement-heading">
        <b>RESIDENTIAL RENTAL AGREEMENT</b>
        </div>
        <p><b>THIS LEASE</b>  (the "Lease") dated this______day of______________,20____</p>
        BETWEEN:
        <div class="underlines">
            <div>_________________________</div>
        <div class="landlord">(the "Landlord")</div>
        <div class="and">-AND-</div>
        <div>_________________________</div>
        <div class="tenent">(the "Tenant")</div>
        </div>
        <div class="agree">(individually the "Party" and collectively the "Parties")</div>
        <div class="para"><B>IN CONSIDERATION OF</B>the Landlord leasing certain permises to the Tenant and other valuable consideration,the receipt and sufficiency of which consideration is here by acknowledged,the Parties agree as follows:</div>
        <p><u><b>Leased Property.</b></u></p>
      <div class="custom-ol">
          <ol type="numbers">
            <li>
                    The Landlord agrees to rent to the Tenant the apartment, municipally described as <br>_______________________________(the "Property"), for use as residential premises only.
            </li>
            <li>No guests of the Tenants may occupy the Property for longer than one week without the prior written permission of the Landlord</li> 
            <li>No pets or animals are allowed to be kept in or about the Property without the prior written permission of the Landlord. Upon 30 days notice, the Landlord may revoke any permission previously given pursuant to this clause.</li>
            <li>The Tenant and members of Tenant's household will not smoke anywhere in the Property nor permit any guests or visitors to smoke in the Property</li>
            <li>The Property is provided to the Tenant without any furnishings.</li>
            <b>Term</b>
            <li>The term of the Lease commences at 12:00 noon on 12 February 2024 and ends at 12:00 noon on 12 February 2024</li>
            <li> Upon any notice required under the Act, or no notice where there is no Act or the Act does not specify, the Landlord may terminate this tenancy where the Tenant has breached any provision of this rental, including the failure to pay the Rent for at least one month.</li>
            <b>Rent</b>
            <li>Subject to the provisions of this Lease, the rent for the Property is&#x20B9; ___________per month (the "Rent").</li>
            <li>The Tenant will pay the Rent on or before the____________________ of each and every month of the term of this Lease to the Landlord at_____________ or at such other place as the Landlord may later designate by cash or cheque.</li>
            <b>Quiet Enjoyment</b>
            <li>The Landlord covenants that on paying the Rent and performing the covenants contained in this Lease, the Tenant will peacefully and quietly have, hold, and enjoy the Property for the agreed term</li>
            <b>Tenant Improvements</b>
            <li>The Tenant will obtain written permission from the Landlord before doing any of the following
                <ol type="a">
                    <li>applying adhesive materials, or inserting nails or hooks in walls or ceilings other than two small picture hooks per wall;</li>
                    <li>painting, wallpapering, redecorating or in any way significantly altering the appearance of the Property:</li>
                    <li>removing or adding walls, or performing any structural alterations,</li>
                    <li>changing the amount of heat or power normally used on the Property as well as installing additional electrical wiring or heating units;</li>
                    <li>placing or exposing or allowing to be placed or exposed anywhere inside or outside the Property any placard, notice or sign for advertising or any other purpose, or</li>
                    <li>affixing to or erecting upon or near the Property any radio or TV antenna or tower</li>
                </ol>
            </li>
            <b> Attorney Fees</b>
            <li> In the event that any action is filed in relation to this Lease, the unsuccessful Party in the action will pay to the successful Party, in addition to all the sums that either Party may be called on to pay, a reasonable sum for the successful Party's attorney fees.</li>
            <b>Governing Law</b>
            <li>This Lease will be construed in accordance with, and exclusively governed by, the laws of Andhra Pradesh.</li>
            <b>Severability</b>
            <li>If there is a conflict between any provision of this Lease and the applicable legislation of Andhra Pradesh (the "Act"), the Act will prevail and such provisions of the Lease will be amended or deleted as necessary in order to comply with the Act. Further, any provisions that are required by the Act are incorporated into this Lease.</li>
            <li>The invalidity or unenforceability of any provisions of this Lease will not affect the validity or enforceability of any other provision of this Lease. Such other provisions remain in full force and effect.</li>
            <b>Amendment of Lease</b>
            <li>This Lease may only be amended or modified by a written document executed by the Parties.</li>
            <b>Assignment and Subletting</b>
            <li>Without the prior, express, and written consent of the Landlord, the Tenant will not assign this Lease, or sublet or grant any concession or licence to use the Property or any part of the Property. A consent by the Landlord to one assignment, subletting. concession, or licence will not be deemed to be a consent to any subsequent assignment, subletting, concession, or licence. Any assignment, subletting, concession, or licence without the prior written consent of the Landlord, or an assignment or subletting by operation of law, will be void and will, at the Landlord's option, terminate this Lease.</li>
            <b>Maintenance</b>
            <li>The Tenant will, at its sole expense, keep and maintain the Property and appurtenances in good and sanitary condition and repair during the term of this Lease and any renewal of this Lease.</li>
            <li> Major maintenance and repair of the Property not due to the Tenant's misuse, waste, or neglect or that of the Tenant's employee, family, agent, or visitor, will be the responsibility of the Landlord or the Landlord's assigns</li>
            <b>Care and Use of Property</b>
            <li>The Tenant will promptly notify the Landlord of any damage, or of any situation that may significantly interfere with the normal use of the Property or to any furnishings supplied by the Landlord</li>
            <li> The Tenant will not engage in any illegal trade or activity on or about the Property.</li>
            <li>The Parties will comply with standards of health, sanitation, fire, housing and safety as required by law.</li>
            <li>If the Tenant is absent frot the Property and the Property is unoccupied for a period of 4 consecutive days or longer, the Tenant will arrange for regular inspection by a competent person. The Landlord will be notified in advance as to the name, address and phone number of the person doing the inspections.</li>
            <li> At the expiration of the term of this Lease, the Tenant will quit and surrender the Property in as good a state and condition as theywere at the commencement of this Lease, reasonable use and wear and tear excepted</li>
            <li> During the term of this Lease or after its termination, the Landlord may charge the Tenant for replacement of locks and/or lost keys to the Property, and any administrative fees associated with the replacement as a result of the Tenant's misplacement of the keys.</li>
            <b>Rules and Regulations</b>
            <li>The Tenant will obey all rules and regulations of the Landlord regarding the Property.</li>
            <b>Address for Notice</b>
            <li> For any matter relating to this tenancy, the Tenant may be contacted at the Property or through the phone number below. After this tenancy has been terminated, the contact information of the Tenant is:
                <ol type="a">
                    <li>Name:_______________________________</li>
                    <li>Phone:______________________________</li>
                    <li>Pod termination notice address:_____________________________________________________</li>
                </ol>
            </li>
            <li> For any matter relating to this tenancy, whether during or after this tenancy has been terminated, the Landlord's address for notice is</li>
            <ol type="a">
                <li>Name:_______________________________</li>
                <li>Address:_____________________________ <br> 
                    <br>The contact information for the Landlord is
                </li>
                <li>Phone:______________________________</li>
            </ol>
            <b>General Provisions</b>
            <li> All monetary amounts stated or referred to in this Lease are based in the Indian rupee.</li>
            <li> Any waiver by the Landlord of any failure by the Tenant to perform or observe the provisions of this Lease will not operate as a waiver of the Landlord's rights under this Lease in respect of any subsequent defaults, breaches or non-performance and will not defeat or affect in any way the Landlord's rights in respect of any subsequent default or breach.</li>
            <li>This Lease will extend to and be binding upon and inure to the benefit of the respective heirs, executors, administrators, successors and assigns, as the case may be, of each Party All covenants are to be construed as conditions of this Lease</li>
            <li> All sums payable by the Tenant to the Landlord pursuant to any provision of this Lease will be deemed to be additional rent and will be recovered by the Landlord as rental arrears.</li>
            <li>Locks may not be added or changed without the prior written agreement of both Parties.</li>
            <li> Headings are inserted for the convenience of the Parties only and are not to be considered when interpreting this Lease. Words in the singular mean and include the plural and vice versa. Words in the masculine mean and include the feminine and vice versa.</li>
            <li>This Lease may be executed in counterparts. Facsimile signatures are binding and are considered to be original signatures</li>
            <li>This Lease constitutes the entire agreement between the Parties. Any prior understanding or representation of any kind preceding the date of this Lease will not be binding on either Party except to the extent incorporated in this Lease</li>
            <li>The Tenant will indemnify and save the Landlord, and the owner of the Property where different from the Landlord, harmless from all liabilities, fines, suits, claims, demands and actions of any kind or nature for which the Landlord will or may become liable or suffer by reason of any breach, violation or non-performance by the Tenant or by any person for whom the Tenant is responsible, of any covenant, term, or provisions hereof or by reason of any act, neglect or default on the part of the Tenant or other person for whom the Tenant is responsible. Such indemnification in respect of any such breach, violation or non-performance, damage to property, injury or death occurring during the term of the Lease will survive the termination of the Lease, notwithstanding anything in this Lease to the contrary.</li>
            <li>The Tenant agrees that the Landlord will not be liable or responsible in any way for any personal injury or death that may be suffered or sustained by the Tenant or by any person for whom the Tenant is responsible who may be on the Property of the Landlord or for any loss of or damage or injury to any property, including cars and contents thereof belonging to the Tenant or to any other person for whom the Tenant is responsible</li>
            <li>The Tenant is responsible for any person or persons who are upon or occupying the Property or any other part of the Landlord's premises at the request of the Tenant, either express or implied, whether for the purposes of visiting the Tenant, making deliveries, repairs or attending upon the Property for any other reason. Without limiting the generality of the foregoing, the Tenant is responsible for all members of the Tenant's family, guests, servants, tradesmen, repairmen, employees, agents, invitees or other similar persons.</li>
            <li>Time is of the essence in this Lease.</li>     
        </ol>
      </div>
          <div class="down">
            <b>IN WITNESS WHEREOF</b> _________________________ and ____________________________ have duly affixed their signatures on this ___________ day of _____________,20______.
        </div>
        <br>
        <div class="signature">______________________________
            <br> _____________________(Landlord)
        </div>
        <br><br>
        <div class="signature">______________________________
            <br> _______________________(Tenant)
        </div>
    <div>
    </div>
    <div class="copyrights">©2002-2024 LawDepot.com®</div>
       </div>
    
    </div>
    
    </div>
</template>

<script> 
export default{

};
</script>

<style scoped>
.content{
    padding:30px;
    font-family: 'Inter', sans-serif;
}
.content p{
    font-size:24px;
    text-align: center;
    color:#000000;
}
.button{
    padding:50px;
    margin-top:-50px;
}
.licence{
    background-color: #5A9DFF;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 0.75px;
    margin-left:600px;
}
.copyrights{
    margin-top: 50px;
    font-size: 10px;
   
}
.signature{
    line-height: 2.0;
    text-align: right;
    margin-right: 100px;


}
.para{
    line-height: 1.6;

}
.down{
    margin-left: 17px;
    line-height: 1.6;

}
.custom-ol {
    list-style-type: none;
     line-height: 1.6;
}

.custom-ol li {
    margin-bottom: 30px;
    margin-top: 20px;
}
.custom-ol ol{
    margin-top: 20px;
}

.custom-ol b {
    text-decoration: underline;
    margin-bottom: 10px;
}

.agree{
    text-align: center;
    margin-bottom: 25px;
}
.and{
    margin-left:85px;
}
.landlord{
    padding: 20px;
    margin-left: 33px;
}
.tenent{
    padding: 30px;
    margin-left: 32px;
}
.underlines{
    margin-left: 283px;
    margin-top: 30px;
}
.agreement-heading{
    text-align: center;
    font-size: 17px;
    margin-bottom: 26px;
}
.heading-in-agreement{
    font-size: 28px;
    color:#333333;
    padding: 30px;
    margin-left: 166px;  
}
.total-div{
    background-color: #E6E7E8;
    height: 760px;
     font-style: normal;
}
.scroll-container {
    height: 500px; 
    width: 800px;
    padding: 45px;
    margin-left: 300px;
    border: 1px solid #ccc;
    overflow: auto; 
    background-color: white;
     font-family: 'Inter', sans-serif;
}
.back{
    margin-left:100px;
    margin-top:30px;
  }
  .btn1 {
     background-color: #ffffff;
     color: #0063F3; 
     padding: 10px 25px; 
     border: 2px solid #0066FB; 
     border-radius: 10px; 
     cursor: pointer; 
     font-size: 16px; 
  }
  .btn1 p {
     margin: 0; 
     color:#0063F3;
     font-size:15px;
     text-align: center;
  }
</style>