<template>
    <div>
      <div class="back">
        <router-link to="/TenantInfo">
        <button class="btn1"> 
        <p>BACK</p>
        </button>
        </router-link>
        </div>
        <div class="container">
        <div class="content">
            <p>
                Guarantor Information
            </p>
        </div>
       
       <div class="end">
        <p>Will a third party guarantee the tenant's financial obligations?</p>
         <div class="total">
        <div class="buttons">
            <button @click="handleGuarantorOption('YES')" :class="{ 'btn-selected': guarantorOption === 'YES' }" type="button" class="btn btn-light1">YES</button>
            <button @click="handleGuarantorOption('NO')" :class="{ 'btn-selected': guarantorOption === 'NO' }" type="button" class="btn btn-light1">NO</button>
        </div>
    </div>
  </div>
  <div v-if="guarantorOption === 'YES'" class="card1">
    <div class="p">
       <p>Third Party Guarantor<br>
    Type:
    </p>
    </div>
    <div class="button">
        <button>
          <img src="../assets/Prac/Individual.png" />
            <p>
                Individual
            </p>
        </button><br>
        <button>
          <img src="../assets/Prac/Company.png" />
            <p>
                Company / Organisation
            </p>
        </button>
    </div>
    <div class="group">
        <label for="email">Name:</label>
        <input required="" type="text" id="name" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
    </div>
    <div class="group">
      <label for="email">Address:</label>
      <input required="" type="text" id="address" class="input">
      <span class="highlight"></span>
      <span class="bar"></span>
     
  </div>
  <div class="add">
  <p>(e.g. Street Address, Locality, City/Town, State, PIN Code)</p>
  </div>
</div>
  <div class="button-container">

<router-link to="/RentInfo">
      <button type="button" class="btn btn-success"> 
        SAVE & CONTINUE   
    </button>
</router-link>
<router-link to="/RentInfo">
      <p>Skip this step for now</p>
</router-link>

  </div>
       <div class="card">
        <div class="card-body">
          <h5 class="card-title">Frequently Asked Questions ?</h5>
          <a href="#" class="card-link">What is guarantor?</a>
          <div class="tooltip-content">
            A guarantor agrees to be liable to the landlord for any breach by the tenant. For example, if the tenant fails to pay the rent, then the landlord could recover the arrears from the guarantor. A guarantor is NOT one of the tenants.
          </div>
        </div>
      </div>
      </div>
</div>
</template>

<script> 
export default{
  data() {
    return {
      guarantorOption: '', // Track the selected guarantor option
    };
  },
  methods: {
    handleGuarantorOption(option) {
      // Update the guarantor option
      this.guarantorOption = option;
    },
  },

};

</script>

<style scoped>

.tooltip-content {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 30px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  opacity: 0;
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.6s ease, opacity 0.6s ease;
  z-index: 1;
}

.card-link:hover + .tooltip-content {
  max-height: 70px; 
  opacity: 1;
}
.container {
    padding:10px;
    font-family: 'Inter', sans-serif;
    text-align:center;
}
.content{
    padding:10px;
    line-height: 40px;
}
.content p{
    margin-bottom:-12px;
    color:#000000;
    font-size:30px;
}
.end p{
  color:#000000;
  font-size:22px;
}
.add p{
  font-style:italic;
}
.content b{
   color:black;
   font-size: 25px;
   line-height: 20px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }

/* styles.css */
.button-container {
    display: flex;
    gap: 8px;
    margin-top:20px;
    margin-left:650px;
  }
  .button-container p{
    color:#0063F3;
    font-size:15px;
    text-decoration:underline;
    margin-left:350px;
  }
.btn {
    padding: 13px 34px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-success {
    background-color: #5A9DFF;
    color: #fff;
  }
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width: 130px; 
    min-height: 55px; 
  }
  .buttons button:active,
.btn-selected {
  border: 4px solid  #5A9DFF;
}
.card {
    width: 280px;
    border-radius: 10px;
    margin: 20px; 
    margin-left:1050px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    position:absolute;
    top:180px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
    
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:5px;
  }
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width: 110px; 
    height: 35px; 
  }
  .buttons button:active {
    border-color:  #0063F3; 
  }
  .p{
    margin-left:-300px;
    line-height: 30px;
    font-size:20px;
    color:#000000;
  }
  .card1 {
    position: relative;
    width: 550px;
    height: 600px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:500px;
  }
  .group {
    position: relative;
    margin-left:-350px;
    margin-top:20px;
    color:#000000;
   }
   .group p{
    font-style: italic;
    margin-left:0px;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    margin-left:300px;
   }
   
   .input:focus {
    outline: none;
   }
   
   label for name.address{
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
   
   }
   .bar {
    position: relative;
    display: block;
    width: 550px;
   }
   .button {
    display: flex;
    flex-direction: column;
    
  }
  
  .button button {
    display:flex;
    padding:10px;
    margin-bottom: 10px; 
    width: 390px; 
    height:80px;
    border-radius:5px;
    border: 1px solid #ccc;
    margin-left:-40px;
    background-color: #f7f9fc;
  }
  .button p{
    margin-top:10px;
    margin-left:0px;
    font-size:22px;
    color:#4d4d4d;
    text-align: left;
  }
  .button button:active {
    border-color: #0063F3; 
  }
   .button button img{
    width:50px;
    height:50px;
   }
    
  .back{
    margin-left:100px;
    margin-top:30px;
 }
 .btn1 {
     background-color: #ffffff;
     color: #0063F3; 
     padding: 10px 25px; 
     border: 2px solid #0063F3; 
     border-radius: 10px; 
     cursor: pointer; 
     font-size: 16px; 
 }
 .btn1 p {
     margin: 0; 
     color:#0063F3;
     font-size:15px;
     text-align: center;
 }
 .total {
  margin-left:600px;
 }
 

</style>