<template>
    <div>
      <div class="back">
        <router-link to="/PropertyDetails">
        <button class="btn1"> 
        <p>BACK</p>
        </button>
        </router-link>
        </div>
        <div class="container">
        <div class="content">
            <p>
                Landlord Information
                <br>
            </p>
        </div>
        <div class="landlord">
<div v-for="(card, index) in cards" :key="index" class="card1">
<div class="p">
    <p>Landlord<button v-if="showRemoveButton[index]" @click="removeCard(card)" class="remove-button">REMOVE</button><br>Type:</p>
</div>
    <div class="button">
        <button @click="handleLandlordTypeClick('individual')"
                :class="{ 'selected': isIndividualSelected }">
            <div class="button-content">
                <img :src="require('@/assets/Prac/Individual.png')" alt="Individual">
                <p>Individual</p>
            </div>
        </button>
        <br>
        <button @click="handleLandlordTypeClick('company')"
                :class="{ 'selected': isCompanySelected }">
            <div class="button-content">
                <img :src="require('@/assets/Prac/Company.png')" alt="Company">
                <p>Company / Organisation</p>
            </div>
        </button>
    </div>

    <div class="card-name">
        <label>Name:</label>
        <input required="" type="text" id="name" class="input1">
        <span class="highlight"></span>
        <span class="bar"></span>
    </div>
</div>
  </div>

          <p style="color:#64AD7D;
                   font-size:25px;
                   text-align:center;
                   margin-left:-200px;
                   margin-top:30px;"
                   @click="addCard">
                   + Add Another Landlord
          </p>
       <div class="total">
        <p>Does a property manager look after the property?</p>
        <div class="yesno">
        <div class="buttons">
            <button @click="handleButtonClick(true)" :class="{ 'btn-selected': isYesSelected }" type="button" class="btn btn-light1">YES</button>
            <button @click="handleButtonClick(false)"  :class="{ 'btn-selected': isNoSelected }" type="button" class="btn btn-light1">NO</button>
          </div>
    </div>
   
  </div>
<div class="card">
    <div class="card-body">
        <div class="card-title">Frequently Asked Questions ?</div>
        
        <a href="#" class="card-link">What is a property manager?</a>
            <div class="tooltip-content">
                The property manager, if there is one at all, deals with the tenant and manages the rental property on behalf of the landlord, typically in return for a fee.
            </div>
    </div>
</div>

      <div class="con">
      <p v-if="!showNameInput">
        How can the landlord be contacted?
      </p>
      <p v-else>
        How can the property manager be contacted?
      </p>
      </div>
      <div v-if="showNameInput" class="group">
        <label for="name">Name:</label>
        <input required="" type="text" id="phone" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
    </div>
      <div class="group">
        <label for="phone">Phone:</label>
        <input required="" type="text" id="phone" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
    </div>
    
    <div class="group">
        <label for="email">Email:</label>
        <input required="" type="email" id="email" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
        <p class="optional">(optional)</p>
    </div>
    
  <div class="button-container">

<router-link to="/TenantInfo">
      <button type="button" class="btn btn-success">  
        SAVE & CONTINUE 
    </button>
</router-link>
<router-link to="/TenantInfo">
      <p >Skip this step for now</p>
</router-link>
  </div>
      </div>
</div>
</template>
<script scoped>
export default {
    data() {
        return {
            showNameInput: true,
            cards: [{}],
            isYesSelected: false,
            isNoSelected: false,
            isIndividualSelected: false,
            isCompanySelected: false,
            showRemoveButton: [false],
        };
    },
    methods: {
        handleButtonClick(isYesClicked) {
            this.showNameInput = isYesClicked;
            this.isYesSelected = isYesClicked;
            this.isNoSelected = !isYesClicked;
            this.isIndividualSelected = false;
            this.isCompanySelected = false;
        },
        handleLandlordTypeClick(type) {
            if (type === 'individual') {
                this.isIndividualSelected = !this.isIndividualSelected;
                this.isCompanySelected = false;
            } else if (type === 'company') {
                this.isCompanySelected = !this.isCompanySelected;
                this.isIndividualSelected = false;
            }
        },
        addCard() {
  // Add a new empty card
  this.cards.push({});
  this.showRemoveButton = this.cards.map(() => true);


  
},
removeCard(cardToRemove) {
  // Filter out the card to remove
  this.cards = this.cards.filter(card => card !== cardToRemove);
  // Update showRemoveButton array accordingly
  this.showRemoveButton = this.cards.map(() => true);
},
    },
}
</script>

<style scoped>
.content-wrapper {
    display: flex;
    align-items: center; 
}
.optional{
  color: cadetblue;
  font-size: 16px;
}



.tooltip-content {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 30px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  opacity: 0;
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.6s ease, opacity 0.6s ease;
  z-index: 1;
}

.card-link:hover + .tooltip-content {
  max-height: 70px; 
  opacity: 1;
}
.button .button-content {
    display: flex;
    align-items: center;
}

.button button img {
  width: 50px; 
  height: 50px;
  margin-left: 20px;
 
}
.container {
    padding:10px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.content{
    padding:10px;
    line-height: 40px;
    color:rgb(77, 119, 14);
}
.content p{
    margin-bottom:10px;
    color:black;
    font-size:30px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  
  
/* styles.css */
.button-container {
    display: flex;
    gap: 8px;
    margin-top:50px;
    margin-left:650px;
    text-align: center;
  }
  .button-container p{
    color:#0063F3;
    font-size:15px;
    text-decoration: underline;
    margin-left:350px
  }
.btn {
    padding: 13px 34px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .btn-success {
    background-color: #5A9DFF;
    color: #fff;
  }
  .total{
    margin-bottom:-20px;
  }
  .total p{
    margin-top:50px;
    font-size:22px;
    color:#000000;
  }
  .buttons {
    display: flex;
    gap: 60px;
    padding:10px;
    margin-left:-10px;
    margin-bottom: 30px;
  }
  .buttons button {
    width: 120px; 
    min-height:55px;
  }
  .buttons button:active {
    border-color: #0063F3; 
  }
  .p{
    margin-left:-10px;
    color:#000000;
    font-size:20px;
  }
 
  .card1 p{
 margin-left: -63px;
    color: #000;
  }
  
  .card1 {
    position: relative;
    width: 535px;
    height:450px;
    margin-left: 300px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 2px #cccccc;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:192px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    
  }
  
 
.card {
    width: 290px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1100px;
    position:absolute;
    top:700px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top:5px;
  }
  
  .card-link {
    color: hwb(114 19% 49%) ;
    text-decoration: underline;
    
  }
  .card-link:hover {
    text-decoration: underline;
  }
  .group {
    position: relative;
    text-align: center;
    margin-top:45px;
    color:#000000;
    font-size:18px;
    margin-left:-300px;
   }
   .group p{
    color:#000000;
    margin-top:10px;
   }
     .card-name {
    position: relative;
    text-align: left;
    margin-left:30px;
    margin-top:20px;
    color:#000000;
    font-size:18px;
   }
   .group p{
    font-style:italic;
   }
   
   .input {
    font-size: 16px;
    margin-bottom: 36px;
    padding: 10px 10px 10px 5px;
    margin-left:850px;
    display: block;
    width: 393px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }

   .input1{
    font-size: 16px;
    margin-bottom: 36px;
    margin-left:0px;
    display: block;
    width: 393px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }
   
   .input:focus {
    outline: none;
   }
   .input1:focus {
    outline: none;
   }
   
   label for phone,email,name{
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
   
   }
   

   .bar {
    position: relative;
    display: block;
    width: 550px;
   }
   .button {
    display: flex;
    flex-direction: column;
    
  }
  
  .button button {
    margin-bottom: 10px; 
    width: 410px;
    height: 90px;
    left: -5px;
    top: -5px;
    opacity: 1;
    border-radius:3px;
    border: 1px solid #ccc;
    margin-left:-40px;
    background-color: #f7f9fc;
  }
  
  .button p{
    margin-top: 30px;
    margin-left: 16px;
    font-size:20px;
    text-align: left;
    color:#4d4d4d;
  }
  .button button:active {
    border-color:  hwb(114 19% 49%); 
  }
   

  .p{
    margin-left:-300px;
    line-height: 40px;
   
  }

.remove-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #ff0000;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 23px;
}
   .con p{
    color:#000000;
    font-size:22px;
   }
   .btn-selected {
    border: 4px solid  #5A9DFF; /* You can replace #ff0000 with the desired color */
  }
  .selected {
    border: 4px solid #5A9DFF; /* You can replace #ff0000 with the desired color */
  }
  .back{
    margin-left:100px;
    margin-top:30px;
 }
 .btn1 {
     background-color: #ffffff;
     color: #0063F3; 
     padding: 10px 25px; 
     border: 2px solid #0063F3; 
     border-radius: 10px; 
     cursor: pointer; 
     font-size: 16px; 
 }
 .btn1 p {
     margin: 0; 
     color:#0063F3;
     font-size:15px;
     text-align: center;
 }
 .landlord{
  align-items: center;
  margin-left:300px;
 }
 .yesno {
  margin-left:600px;
 }
   

</style>