<template>
    <div>
      <div class="back">
        <router-link to="/ContactDetails">
        <button class="btn1"> 
        <p>BACK</p>
        </button>
        </router-link>
        </div>
        <div class="container">
        <div class="content">
            <p>
                Miscellaneous
            </p>
           
        <div class="button">
            <p> 
            Will a walkthrough inspection report be completed at the start and the end of the rental?</p>
            <div class="button-class">
            <button>
      <img src="../assets/Prac/DonotSpecify.png"/>
        <p>
            Do not specify
        </p>
    </button><br>
    <button>
      <img src="../assets/Prac/Yes.png"/>
        <p>
            Yes
        </p>
    </button><br>
    <button>
      <img src="../assets/Prac/No.png"/>
        <p>
            No
        </p>
    </button>
</div>
</div>
</div>
  <div class="button-container">
<router-link to="/AdditionalClauses">
  <button type="button" class="btn btn-success">SAVE & CONTINUE</button>
</router-link>
<router-link to="/AdditionalClauses">
         <p>Skip this step for now</p>
</router-link>

  </div>
       <div class="card">
        <div class="card-body">
          <h5 class="card-title">Frequently Asked Questions ?</h5>
          <a href="#" class="card-link">What is an inspection report?</a>
        <div class="tooltip-content">An inspection report is a written record of any existing damage observed during a walkthrough of the property by the tenant and landlord. Inspection reports should be completed at the beginning and at the end of the tenancy.</div>
        </div>
      </div>
      </div>
</div>
</template>

<script> 
export default{

}

</script>

<style scoped>
.tooltip-content {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 30px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  opacity: 0;
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.6s ease, opacity 0.6s ease;
  z-index: 1;
  text-align:left;
}

.card-link:hover + .tooltip-content {
  max-height: 70px; 
  opacity: 1;
}
.container {
    padding:10px;
    font-family: 'Inter', sans-serif;
    text-align:center;
}
.content{
    line-height: 40px;
}
.content p{
    margin-bottom:-12px;
    font-size:30px;
}
.button-class {
  margin-left:550px;
}
.content b{
   color:black;
   font-size: 25px;
   line-height: 20px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }

/* styles.css */
.button-container {
    display: flex;
    gap: 8px;
    margin-top:50px;
    margin-left:650px;
  }
  .button-container p{
    color:#0063F3;
    font-size:16px;
    margin-left: 350px;
    text-decoration: underline;
  }
.btn {
    padding: 13px 34px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  
  .btn-success {
    background-color: #5A9DFF;
    color: #fff;
  }
  .total{
    margin-left:180px;
  }
  
.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1050px;
    position:absolute;
    top:300px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:5px;
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
    margin-top:40px;
  }
  
  .button button {
    display:flex;
    padding:10px;
    width: 390px; 
    height:80px;
    border-radius:5px;
    border: 1px solid #ccc;
    margin-top:20px;
  }
  .button p{
    margin-top:15px;
    margin-left:10px;
    font-size:22px;
    color:#000000;
    margin-bottom:10px;
  }
  .button button img{
    height:50px;
    width:50px;
  }
  .button button:active {
    border-color:  #0063F3; 
  }
  .p{
    color:black;
    font-size:18px;
  }
  .container2{
    margin-left:200px;
  }
  .container2 p{
    margin-top:10px;
  }
  .back{
    margin-left:100px;
    margin-top:30px;
  }
  .btn1 {
     background-color: #ffffff;
     color: #0063F3; 
     padding: 10px 25px; 
     border: 2px solid #0063F3; 
     border-radius: 10px; 
     cursor: pointer; 
     font-size: 16px; 
  }
  .btn1 p {
     margin: 0; 
     color:#0063F3;
     font-size:15px;
     text-align: center;
  }


</style>