<template>
    <div>
      <div class="back">
        <router-link to="/DepositDetails">
        <button class="btn1"> 
        <p>BACK</p>
        </button>
        </router-link>
        </div>
        <div class="container">
        <div class="content">
            <p>
                Notices
            </p>
            <div class="p">
                <p>How much notice must the landlord give before entering the property(non-emergency)?</p>
            </div><br>
            <div class="button-class">
        <div class="button">
            
            <button  @click="toggleSpecify(false)" :class="{ selected: selectedButton === 'specifyOption' }">
              <img src='../assets/Prac/DonotSpecify.png'>
                <p>
                    Do not specify
                </p>
            </button><br>
            <button @click="toggleSpecify(true)"  :class="{ selected: selectedButton === 'specifyOption1' }">
              <img src='../assets/Prac/Specify.png'>
                <p>
                    Specify
                </p>
            </button>
        </div>
        </div>
        </div>
        <div v-if="specifyOption" class="group">
          <label for="hours">Number of hours:</label>
          <input required="" type="text" id="hours" class="input">
          <span class="highlight"></span>
          <span class="bar"></span>
          <p>(e.g. 24)</p>
        </div>
        <div class="container2">
            <div class="p1">
                <p>How much notice must be given before terminating the rental agreement?</p>
        </div><br>
        <div class="button">
       <div class="specify">   
    <button @click="toggleSpecify1(false)" :class="{ selected: selectedButton === 'specifyOption' }">
        
          <img src='../assets/Prac/DonotSpecify.png'>
          <p>
            Do not specify
        </p>
    </button><br>
    <button @click="toggleSpecify1(true)"  :class="{ selected: selectedButton === 'specifyOption1' }">
          <img src='../assets/Prac/Specify.png'>
          <p>
            Specify
        </p>
    </button>
</div>
</div>
</div>
<div v-if="specifyOption1" class="group">
  <label for="days">How many days of notice must the landlord give?</label>
  <input required="" type="text" id="days" class="input">
  <span class="highlight"></span>
  <span class="bar"></span>
  <p>(e.g. 30)</p>
</div>



  <div class="button-container">

<router-link to="/AdditionalCharges">
      <button type="button" class="btn btn-success"> 
        SAVE & CONTINUE   
    </button>
</router-link>

<router-link to="/AdditionalCharges">
      <p>Skip this step for now</p>
</router-link>
  </div>
       <div class="card">
        <div class="card-body">
          <h5 class="card-title">Frequently Asked Questions ?</h5>
          <a href="#" class="card-link">Why does the landlord need to give notice before entering the property?</a>
          <div class="tooltip-content">
            The landlord usually does not have the right to enter the property unless there is an emergency.
            <br>
Typically, a written 24 to 48 hours' notice containing the time and purpose of the entry is considered as reasonable notice by the landlord to enter the property outside of emergencies.
          </div>
        </div>
      </div>
      </div>
</div>
</template>

<script> 
export default{
  data() {
    return {
      specifyOption: null,
      specifyOption1:null,
      selectedButton: null,
    };
  },
  methods: {
    toggleSpecify(option) {
      // Update the specify option
      this.specifyOption = option;
      this.selectedButton = 'specifyOption';
    },
    toggleSpecify1(option) {
      // Update the specify option
      this.specifyOption1 = option;
      this.selectedButton = 'specifyOption1';
    },
  },

};

</script>

<style scoped>

.tooltip-content {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 30px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  opacity: 0;
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.6s ease, opacity 0.6s ease;
  z-index: 1;
}

.card-link:hover + .tooltip-content {
  max-height: 70px; 
  opacity: 1;
}
.container {
    padding:10px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.specify {
  margin-left:200px;
}
.content{
    padding:10px;
    line-height: 40px;
    color:#000000;
    font-size:30px;
}
.p{
    margin-bottom:-12px;
    font-size:22px;
    color:#000000;
    
}

.p1 p {
  margin-left:-200px;
}
.content b{
   color:black;
   font-size: 25px;
   line-height: 20px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }

/* styles.css */
.button-container {
    display: flex;
    gap: 8px;
    margin-top:50px;
    margin-left:600px;
  }
  .button-container p{
    color:#0063F3;
    font-size:16px;
    text-decoration:underline;
    margin-left:350px;
  }
.btn {
    padding: 13px 34px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-success {
    background-color: #5A9DFF;
    color: #fff;
  }
  .total{
    margin-left:180px;
  }
  
.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1100px;
    position:absolute;
    top:200px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:5px;
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
  }
  
  .button button {
    display:flex;
    padding:10px;
    margin-bottom: 10px; 
    width: 390px; 
    height:80px;
    border-radius:5px;
    border: 1px solid #ccc;
    
  }
  .button p{
    margin-top:20px;
    margin-left:30px;
    font-size:20px;
    color:#000000;
  }
  .button button img{
    width:50px;
    height: 50px;;
  }
  .button button:active {
    border-color:  #0063F3; 
  }
  .p{
    color:black;
    font-size:18px;
  }
  .container2{
    margin-left:190px;
  }
  .container2 p{
    margin-top:10px;
    font-size:20px;
    color:#000000;
  }
  .group {
    position: relative;
    margin-top:20px;
    font-size:20px;
    color:#000000;
    text-align: center;
    margin-left:-250px;
   }
   .group p{
    font-style:italic;
    font-size:15px;
    margin-left:-350px;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    margin-left:650px;
   }
   
   .input:focus {
    outline: none;
   }
   
   label for hours,days{
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
   
   }
   

   .bar {
    position: relative;
    display: block;
    width: 550px;
   }
   .button button.selected {
    border: 4px solid #5A9DFF;
  }
  .back{
    margin-left:100px;
    margin-top:30px;
  }
  .btn1 {
     background-color: #ffffff;
     color: #0063F3; 
     padding: 10px 25px; 
     border: 2px solid #0063F3; 
     border-radius: 10px; 
     cursor: pointer; 
     font-size: 16px; 
  }
  .btn1 p {
     margin: 0; 
     color:#0063F3;
     font-size:15px;
     text-align: center;
  }
  .button-class {
    margin-left:400px;
  }
  .button-class1 {
    margin-left:330px;
  }

  


</style>