<template>
    <div>
      <div class="back">
        <router-link to="/RentInfo">
        <button class="btn1"> 
        <p>BACK</p>
        </button>
        </router-link>
        </div>
        <div class="container">
          <p>
            Use Of Property
          </p>
        <div class="content">
            
            <div class="p">
                <p>Are pets allowed on the property?</p>
            </div><br>
        <div class="button-class">
        <div class="button">
            
            <button>
              <img src="../assets/Prac/DonotSpecify.png" />
                <p>
                    Do not specify
                </p>
            </button><br>
            <button>
              <img src="../assets/Prac/Yes.png" />
                <p>
                    Yes
                </p>
            </button><br>
            <button>
              <img src="../assets/Prac/Landlord.png" />
                <p>
                    Only with landlord's written consent
                </p>
            </button><br>
            <button>
              <img src="../assets/Prac/No.png" />
                <p>
                    No
                </p>
            </button>
        </div>
        </div>
        </div>
        <div class="container2">
            <div class="p1">
                <p>Is smoking allowed indoors?</p>
        </div><br>
        <div class="button-class1">
        <div class="button">
    <button>
      <img src="../assets/Prac/DonotSpecify.png" />
        <p>
            Do not specify
        </p>
    </button><br>
    <button>
      <img src="../assets/Prac/Yes.png" />
        <p>
            Yes
        </p>
    </button><br>
    <button>
      <img src="../assets/Prac/No.png" />
        <p>
            No
        </p>
    </button>
</div>
</div>
</div>



  <div class="button-container">

<router-link to="/DepositDetails">
      <button type="button" class="btn btn-success"> 
        SAVE & CONTINUE   
    </button>
</router-link>

<router-link to="/DepositDetails">
      <p>Skip this step for now</p>
</router-link>
  </div>
      </div>
</div>
</template>

<script> 
export default{

}

</script>

<style scoped>
.container {
    padding:10px;
    font-family: 'Inter', sans-serif;
    text-align:center;
}
.button-class {
  margin-left:550px;
}
.container p{
  font-size:30px;
  color:#000000;
}
.content{
    padding:10px;
    line-height: 40px;
}
.content p{
    margin-bottom:-12px;
    font-size:22px;
    margin-top:-10px;
}
.content b{
   color:black;
   font-size: 25px;
   line-height: 20px;
}
.button-class1 {
  margin-left:680px;
}.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:650px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }

/* styles.css */
.button-container {
    display: flex;
    gap: 8px;
    margin-top:50px;
    margin-left:650px;
  }
  .button-container p{
    color:#0063F3;
    font-size:16px;
    margin-left:350px;
    text-decoration:underline;
  }
.btn {
    padding: 13px 34px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-light {
    background-color: #c1c4c8;
    color: #212529;
    margin-left:180px;
  }
  
  .btn-success {
    background-color: #5A9DFF;
    color: #fff;
  }
 
.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1150px;
    position:absolute;
    top:300px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:5px;
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
  }
  
  .button button {
    display: flex;
    padding:10px;
    margin-bottom: -10px; 
    width:390px;
    height:80px;
    text-align: left;
    border-radius:5px;
    border: 1px solid #ccc;
  }
  .button button img{
    width:50px;
    height:50px;
  }
  .button p{
    margin-top:22px;
    margin-left:30px;
    font-size:18px;
    color:#4d4d4d;
  }
  .button button:active {
    border-color: #0063F3; 
  }
  .p{
    color:black;
    font-size:18px;
  }
  .container2{
    margin-left:-120px;
    font-size:22px;
  }
  .container2 p1{
    font-size:22px;
  }
  .container2 p{
    margin-top:10px;
    margin-left:0px;
    font-size:18px;
  }
  
 .back{
  margin-left:100px;
  margin-top:30px;
}
.btn1 {
   background-color: #ffffff;
   color: #0063F3; 
   padding: 10px 25px; 
   border: 2px solid #0063F3; 
   border-radius: 10px; 
   cursor: pointer; 
   font-size: 16px; 
}
.btn1 p {
   margin: 0; 
   color:#0063F3;
   font-size:15px;
   text-align: center;
}


</style>