<template>
    <div>
      <div class="back">
        <router-link to="/RentalDetails">
        <button class="btn1"> 
        <p>BACK</p>
        </button>
        </router-link>
        </div>
        <div class="container">
          <p> Property Address</p>
        <div class="content">
            <p>
                Rental Property Address
            </p>
        </div>
        <div class="group">
          <input required="" type="text" id="name" class="input">
          <span class="highlight"></span>
          <span class="bar"></span>
          <p>e.g. Street Address, Locality, City/Town, State, PIN Code</p>
      </div>
       <div class="total">
       <div class="end">
        <p>Will photos of the property be attached to the final document?</p>
        <div class="yesno">
        <div class="buttons">
          <button type="button" class="btn btn-light1" @click="setTenantMoveInBeforeLease2(true)" :class="{ 'selected': tenantMoveInBeforeLease2 }">YES</button>
          <button type="button" class="btn btn-light1" @click="setTenantMoveInBeforeLease2(false)" :class="{ 'selected': !tenantMoveInBeforeLease2 }">NO</button>
          

        </div>
      </div>
        <p>Would you like to provide additional details about the property?</p>
        <div class="yesno">
        <div class="buttons">
          <button type="button" class="btn btn-light1" @click="setTenantMoveInBeforeLease(true)" :class="{ selected: tenantMoveInBeforeLease  }">YES</button>
          <button type="button" class="btn btn-light1"  @click="setTenantMoveInBeforeLease(false)" :class="{ selected: !tenantMoveInBeforeLease }">NO</button>
        </div>
      </div>
    </div>
  </div>
  <div class="p" v-if="tenantMoveInBeforeLease">
  <p>Other details described about the property?</p><br>
  </div>
  <div class="text" v-if="tenantMoveInBeforeLease">
        <textarea v-model="textInput" ></textarea>
  </div>
  <div class="button-container">
      <router-link to="/PropertyDetails">    
    <button type="button" class="btn btn-success"> 
        SAVE & CONTINUE   
    </button>
      </router-link>
      <router-link to="/PropertyDetails">    
    <p>Skip this step for now</p>
    </router-link>
  </div>
       <div class="card">
        <div class="card-body">
          <div class="card-title">Frequently Asked Questions ?</div>
          <div class="faq">
            <div class="question"> Can I save my answers and return later?</div>
            <div class="tooltip-content">
              Yes, you can return at any time to continue your progress.
              <br>
              Just login with your username and password and you can complete the questionnaire at your convenience from any computer.
            </div>
          </div>
        </div>
      </div>
      </div>
</div>
</template>

<script> 
export default{
  data() {
    return {
      // ... (your existing data properties)
      tenantMoveInBeforeLease: false,
      tenantMoveInBeforeLease2: false,
      textInput: '',
    };
  },

  methods: {

    setTenantMoveInBeforeLease(choice) {
      this.tenantMoveInBeforeLease = choice;
    },
    setTenantMoveInBeforeLease2(choice) {
      this.tenantMoveInBeforeLease2 = choice;
    },
  },
  
};
</script>

<style scoped>
.tooltip-content {
  position: absolute;
  text-align:left;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 5px; /* Adjust as needed */
  margin-left: 120px; /* Adjust as needed */
  padding: 15px; /* Adjust as needed */
  width: 300px; /* Adjust as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease, opacity 0.6s ease;
  z-index: 1;
  font-size:15px;
}

.faq:hover .tooltip-content {
  max-height: 230px; /* Adjust as needed */
  opacity: 1;

}
.faq:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #88ABAC;
  position: absolute;
  bottom: 0;
  left: 0;
}

.faq {
  margin-bottom: 20px; /* Adjust as needed */
  position: relative; /* Needed for absolute positioning */
  font-size:16px;
}


.question {
  cursor: pointer;
  font-size: 16px;
  color:  hwb(114 19% 49%);
}

.card-body {
  position: relative;
}
.container {
    padding:10px;
    font-family: 'Inter', sans-serif;
    text-align:center;
}
.container p{
  font-size:30px;
  color:#000000;
}
.content{
    line-height: 40px;
}
.content p{
    margin-bottom:-12px;
    font-size:20px;
    color:#88ABAC;
    margin-left:-100px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color:rgb(96, 151, 13);
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(96, 151, 13);
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
/* styles.css */
.button-container {
    display: flex;
    gap: 20px;
    margin-left:680px;
    margin-top:40px;
  }
  .button-container p{
    color:#5A9DFF;
    font-size:18px;
    margin-left:350px;
    margin-top:12px;
    text-decoration: underline;
  }
.btn {
    padding: 13px 34px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-light {
    background-color: #c1c4c8;
    color: #212529;
  }
  
  .btn-success {
    background-color:#5A9DFF;
    color: #fff;
  }
  .total{
    margin-left:180px;
  }
  .total p{
    color:#000000;
  }
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width: 120px; 
    min-height:55px;
  }
  
  .p p{
    margin-left:180px;
    font-size:20px;
    color:#000000;
  }
 .text{
  margin-left:200px;
  margin-top:-10px;
 }
 .text textarea{
  width: 450px;
  height: 145px;
  padding: 15px 30px 15px 15px;
  border: 1px solid #e6e7e8;
  margin: 10px 0 25px 0;
  overflow: auto;
 }
.card {
    width: 280px;
    height:80px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1050px;
    position:absolute;
    top:100px;
    padding:5px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:5px;
  }
  
  .card-link {
    color:#5A9DFF; 
    text-decoration: underline;
    
  }
  .card-link:hover {
    text-decoration: underline;
  }
  .group {
    position: relative;
    margin-left:650px;
    margin-top:-10px;
   }
   .group p{
    color:#000000;
    font-style:italic;
    font-size:16px;
    margin-left:-530px;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 400px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    margin-left:-50px;
   }
   
   .input:focus {
    outline: none;
   }
   .group p{
    font-style:italic;
   }
   .end p{
    font-size:22px;
    color:#000000;
    margin-left:0px;
   }
   .selected {
    border: 4px solid #5A9DFF;
  }
  .back{
    margin-left:100px;
    margin-top:30px;
 }
 .btn1 {
     background-color: #ffffff;
     color: #0063F3; 
     padding: 10px 25px; 
     border: 2px solid #0063F3; 
     border-radius: 10px; 
     cursor: pointer; 
     font-size: 16px; 
 }
 .btn1 p {
     margin: 0; 
     color:#0063F3;
     font-size:15px;
     text-align: center;
 }
  
 .yesno{
  margin-left:500px;
 }
   

</style>