<template>
    <div>
      <div class="back">
        <router-link to="/PropertyAddress">
        <button class="btn1"> 
        <p>BACK</p>
        </button>
        </router-link>
        </div>
        <div class="container">
        <div class="content">
            <p>Property Details</p>
        </div>
        
         <p class="para"> Is this property furnitured?</p>
         <div class="property">
          <div class="button">
            <button :class="{ 'selected': selectedbutton === 'donotdistrub' }" @click="selectbutton('donotdistrub')">
              <img :src="require('@/assets/Prac/DonotSpecify.png')" alt="donotdistrub" />
              <p @click="showTextArea = false">Do Not specify</p>
            </button><br>
            <button :class="{ 'selected': selectedbutton === 'unfurnitured' }" @click="selectbutton('unfurnitured')">
              <img :src="require('@/assets/Prac/Unfurnitured.png')" alt="Unfurnitured" />
              <p @click="showTextArea = false">Unfurnitured</p>
            </button><br>
            <button :class="{ 'selected': selectedbutton === 'partiallyFurnitured' }" @click="selectbutton('partiallyFurnitured')">
              <img :src="require('@/assets/Prac/Furnitured.png')" alt="Furnitured" />
              <p @click="showTextArea = true">Partially furnitured</p>
            </button><br>
            <button :class="{ 'selected': selectedbutton === 'furnitured' }" @click="selectbutton('furnitured')">
              <img :src="require('@/assets/Prac/Furnitured.png')" alt="Furnitured" />
              <p @click="showTextArea = false">Furnitured</p>
            </button><br>
            <button :class="{ 'selected': selectedbutton === 'furnituredDescription' }" @click="selectbutton('furnituredDescription')">
              <img :src="require('@/assets/Prac/Furnitured,desc.png')" alt="Furnitured include a description" />
              <p @click="showTextArea = true">Furnitured include a description</p>
            </button>
          </div>
        </div>
        <div v-if="showTextArea" class="text-area">
          <label for="description" style="margin-bottom:20px">Description of furnished items:</label><br>
          <textarea id="description" rows="8" cols="55" v-model="description"></textarea>
        </div>
        
        <div class="button-container">
            <router-link to='/Landlordinfo'> 
              <button type="button" class="btn btn-success">
                SAVE & CONTINUE  
            </button></router-link>
            <router-link to='/Landlordinfo'> 
            <p @click="showTextArea = false">Skip this step for now</p>
            </router-link>
       </div>
       <div class="card">
        <div class="card-body">
          <h5 class="card-title">Frequently Asked Questions ?</h5>
          <a href="#" class="card-link">What are furnishings?</a>
              <div class="tooltip-content" >
      Furnishings are furniture, appliances and other movable items such as curtains or carpets which add to the comfort and convenience of the property.
      <br>
      <br>
    </div>
        </div>
      </div>
      </div>
</div>
</template>

<script> 
export default{
  data() {
    return {
      selectedbutton:'donotdistrub',
      showTextArea: false, // Initial state of text area visibility
      description: '' // Data property to bind with the text area value
    };
  },
  methods: {
    handleButtonClick(buttonType) {
      if (buttonType === 'partiallyFurnitured' || buttonType === 'furnituredDescription') {
        this.showTextArea = true;
      } else {
        this.showTextArea = false;
      }
    },
     
        selectbutton(buttonType) {
      this.selectedbutton = buttonType;
      this.handleButtonClick(buttonType);
    },
  }

};
</script>

<style scoped>
.button button.selected {
  border: 4px solid #5A9DFF; /* Highlight the selected button with a color stroke */
}
.tooltip-content {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 30px;
  padding: 20px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  opacity: 0;
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.6s ease, opacity 0.6s ease;
  z-index: 1;
}

.card-link:hover + .tooltip-content {
  max-height: 70px; 
  opacity: 1;
}
.button button img {
  width: 50px; 
  height: 50px;
  margin-left: 20px;
 
}
.para{
    text-align: center;
    font-size: 22px;
    color: #000000;

}
.container {
    font-family: 'Inter', sans-serif;
     color:black;
}
.content{
    line-height: 40px;
    color:rgb(17, 18, 16);
    font-size: 30px;
    text-align: center;
}

/* styles.css */
.button-container {
    display: flex;
    gap: 8px;
    margin: 45px;
    margin-left: 680px;
  }
  .button-container p{
    color: #5A9DFF;
    font-size:15px;
    margin-left:350px;
    text-decoration:underline;
  }
.btn {
    padding: 13px 34px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .btn-success {
    background-color: #5A9DFF;
    color: #fff;
  }
.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1100px;
    position:absolute;
    top:200px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top:5px;
  }
  
  .card-link {
    color: hwb(114 19% 49%); 
    text-decoration: none;
 
  }
  .card-link:hover {
    text-decoration: underline;
  }
  .button {
    display: flex;
    flex-direction: column;
    
  }
  
  .button button {
     display: flex; 
     align-items: center; 
    margin-bottom: -2px;
    width: 390px;
    height: 80px;
    border-radius: 2px;
    border: 1px solid transparent;
    margin-left: 213px;
  }
  .button p{
    margin-top:20px;
    margin-left: 20px;
    font-size: 20px;
    color: #333333
  }
  .button button:active {
    border-color: #0063F3; 
  }
  .text-area{
    margin-left: 215px;
    margin-top: 20px;
    font-size: 20px;
    color: #333333;
    line-height: 2.6;
    text-align:center;
  }
  
  .back{
    margin-left:100px;
    margin-top:30px;
 }
 .btn1 {
     background-color: #ffffff;
     color: #0063F3; 
     padding: 10px 25px; 
     border: 2px solid #0063F3; 
     border-radius: 10px; 
     cursor: pointer; 
     font-size: 16px; 
 }
 .btn1 p {
     margin: 0; 
     color:#0063F3;
     font-size:15px;
     text-align: center;
 }
 .property{
  margin-left:400px;
 }
  
</style>