<template>
    <div>
      <div class="back">
        <router-link to="/HomeOne">
        <button class="btn1"> 
        <p>BACK</p>
        </button>
        </router-link>
    </div>
        <div class="container">
        <div class="content">
            <p>
                Property Location
            </p>
        </div>
        <div class="content-down" > Where is the rental property located?</div>
    
       <div class="card">
        <div class="card-body">
          <h5 class="card-title">Frequently Asked Questions ?</h5>
          <a href="#" class="card-link">Why is customising the rental agreement according to location important?</a>
              <div class="tooltip-content" >
      Customising the rental agreement to account for location allows you to have a stronger legal contract since each jurisdiction has their own set of rules and regulations.

     
    </div>
        </div>
      </div>
      </div>
       <div class="location">
          <select v-model="selectedState" @change="updateBuiltFor" class="custom-select">
            <option v-for="state in states" :key="state" :value="state">{{ state }}</option>
          </select>
      
          <div >
            <p></p>
          </div>
        </div>
        <div class="content-1" v-if="selectedState">
            <p>
                <b>Built for {{ selectedState }}</b>
                <br>
                Different states and union territories have different rules and<br>
                regulations. Your Residential Rental Agreement will be customised<br>
                for Goa.
            </p>
        </div>
        <div class="button-container">
            <router-link to='/RentalDetails'> 
              <button type="button" class="btn btn-success">
                SAVE & CONTINUE  
            </button></router-link>
            <router-link to='/RentalDetails'> 
            <p>Skip this step for now</p>
            </router-link>
       </div>
</div>
</template>

<script> 
export default{
  data() {
    return {
      selectedState: '',
      states: [
        'Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
        'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
        'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh',
        'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
        'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
        'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'
      ]
    };
  },
  methods: {
    updateBuiltFor() {
    
    }
  }
};
</script>

<style scoped>
.tooltip-content {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 30px;
   margin-left: -100px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  opacity: 0;
  max-height: 0; /* Initially hide the content */
  overflow: hidden; /* Hide overflowing content */
  transition: max-height 0.6s ease, opacity 0.6s ease; /* Transition max-height and opacity */
  z-index: 1;
  text-align:left;
}

.card-link:hover + .tooltip-content {
  max-height: 230px; 
  opacity: 1;
}

.container {
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.content{
    line-height: 40px;
    color: black;
    font-size:30px;

}
.content-down{
  color: #333333;
  margin-bottom: 20px;
}
.content b{
   color:black;
   font-size: 25px;
   line-height: 20px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid#616195;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color:rgb(96, 151, 13);
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #616195;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
  .content-1{
    line-height: 28px;
    text-align: center;
    color: #333333;
    font-size: 20px;
}
.content-1 b{
   font-size: 18px;
   line-height: 20px;
   text-align: center;
   color:#333333;
}
.button-container {
    display: flex;
    gap: 8px;
    margin-left:175px; 
    margin-bottom: 80px;
  }
  .button-container p{
    color:#0063F3;
    font-size:15px;
    margin-left:350px;
    text-decoration: underline;
  }
.btn {
    padding: 12px 30px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left:461px;
    
  }
  .btn-success {
    background-color: #0063F3;
    color: #fff;
  }

.card {

    width: 212px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin-left: 1198px;
    position: absolute;
    top: 22px;
    padding: 12px;

  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top:5px;
  }
  
  .card-link {
    color: #333333; 
    text-decoration: none;
    line-height: 1.6;
}
    
  
  .card-link:hover {
    text-decoration: underline;
  }
  .location{
    text-align:center;
  }
  .custom-select {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.back{
  margin-left:100px;
  margin-top:30px;
}
.btn1 {
   background-color: #ffffff;
   color: #0063F3; 
   padding: 10px 25px; 
   border: 2px solid #0063F3; 
   border-radius: 10px; 
   cursor: pointer; 
   font-size: 16px; 
}
.btn1 p {
   margin: 0; 
   color:#0063F3;
   font-size:15px;
   text-align: center;
}

</style>