<template>
  <div>
    <div class="back">
      <router-link to="/PropertyLocation">
      <button class="btn1"> 
      <p>BACK</p>
      </button>
      </router-link>
      </div>
    <div class="container1">
      <div class="content1">
        <p>Rent Details</p><br>
      </div>
      <div class="date">
        <div class="startdate">
          <label>Date rental Starts:</label><br>
          <Datepicker :date="startDate"></Datepicker>
        </div>
      </div>
      <div class="rental">
        <p>The Rental:</p><br>
      </div>
      <div class="button2">
        <button @click="handleShowSetEndDate()" :class="{ selected: tenantMoveInBeforeLease }">
          <img src="../assets/Prac/StartDate.png" alt="Start Date" />
          <p>
            Ends on a set date
          </p>
        </button><br>
        <button @click="handleShowNoEndDate()" :class="{ selected: tenantMoveInBeforeLease }">
          <img src="../assets/Prac/EndsOn.png" alt="Start Date" />
          <p>
            Has no set end date
          </p>
        </button>
      </div><br>

      <div v-if="showNoEndDate">
        
        <div class="rental">
          <p>Type of renewal:</p><br>
        </div>
          <div class="renewal">
            <button @click="showMonthly" :class="{ selected: renewalType === 'monthly' }">
              <p>
                Monthly
              </p>
              </button>
          </div>
         <br>
          <div class="renewal">
              <button @click="show11Months" :class="{ selected: renewalType === '11Months' }">
            <p>
              11 months
            </p>
          </button>
          </div><br>
          <div class="renewal">
          <button @click="showYearly" :class="{ selected: renewalType === 'yearly' }">
            <p>
              Yearly
            </p>
          </button>
        </div>
      
      </div>

      <div v-if="showSetEndDate">
        <div class="date2">
        <div class="enddate">
          <label>Date rental Ends:</label><br>
          <Datepicker :date="endDate"></Datepicker>
        </div>
      </div>
      </div>

      <div class="card">
    <div class="card-body">
        <div class="card-title">Frequently Asked Questions ?</div><br>
        <div class="faq">
            <div class="question">What are the types of tenancies?</div>
            <div class="tooltip-content">
                <b>Ends on a set date (Fixed Term)</b> - A fixed term rental ends on a specific date and doesn't usually require notice to terminate the rental. <br>
<b>Has no set end date (Automatic Renewal) </b>- A rental that will renew automatically every month or year. This type of rental will continue until a party chooses to terminate the rental. <br>
            </div>
        </div>
        <div class="faq">
            <div class="question">Why does it matter whether the rental agreement ends on a set end date?</div>
            <div class="tooltip-content">
               If the rental agreement term ends on a set end date, you will be entering into a fixed term rental agreement. <br>

If the rental agreement does not end on a set end date, you will be entering into an automatically renewing rental agreement which will continue to renew until one party terminates the rental agreement.
            </div>
        </div>
    </div>
      </div>
      <div class="end" >
        <p>Tenant gets to move in before the start of the lease?</p>
        <div class="yesno">
        <div class="buttons">
          <button type="button" class="btn btn-light1" @click="setTenantMoveInBeforeLease(true)" :class="{ selected: tenantMoveInBeforeLease  }">YES</button>
          <button type="button" class="btn btn-light1"  @click="setTenantMoveInBeforeLease(false)" :class="{ selected: !tenantMoveInBeforeLease }">NO</button>
        </div>
      </div>
      </div>
      <div class="date3" v-if="showNoEndDate && tenantMoveInBeforeLease && (showNoEndDate || showSetEndDate)">
        <label>Possession date:</label><br>
        <Datepicker :date="possessionDate" v-model="possessionDate"></Datepicker>
      </div>
    </div>
    <div class="button-container">
<router-link to="/PropertyAddress">
        <button type="button" class="btn btn-success">
        SAVE & CONTINUE
      </button>
</router-link>
<router-link to="/PropertyAddress">
        <p>Skip this step for now</p>
</router-link>
    </div>
  </div>
</template>

<script>
import Datepicker from 'vue-datepicker';
import moment from "moment"

export default {
  components: {
    Datepicker,
  },
  data() {
    return {
      startDate: {
        time: moment().format('YYYY-MM-DD HH:mm')
      },
      endDate: {
        time: moment().format('YYYY-MM-DD HH:mm')
      },
      possessionDate: {
        time: moment().format('YYYY-MM-DD HH:mm')
      },
      showSetEndDate: false,
      showNoEndDate: false,
      tenantMoveInBeforeLease: false,
      renewalType: '',
    };
  },
  methods: {
    handleShowSetEndDate() {
      this.showSetEndDate = true;
      this.showNoEndDate = false;
      this.tenantMoveInBeforeLease = false;
    },
    handleShowNoEndDate() {
      this.showSetEndDate = false;
      this.showNoEndDate = true;
    },
    showMonthly() {
      // Handle logic for Monthly renewal
      this.renewalType = 'monthly';
    },
    show11Months() {
      // Handle logic for 11 months renewal
      this.renewalType = '11Months';
    },
    showYearly() {
      // Handle logic for Yearly renewal
      this.renewalType = 'yearly';
    },
    setTenantMoveInBeforeLease(value) {
      this.tenantMoveInBeforeLease = value;
      if (value && (this.showSetEndDate || this.showNoEndDate)) {
        this.showNoEndDate = true;
      } else {
        this.showNoEndDate = false;
      }
    },
  },
};
</script>



<style scoped>
.tooltip-content {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 30px;
   margin-left: -100px;
  padding: 7px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  opacity: 0;
  max-height: 0; /* Initially hide the content */
  overflow: hidden; /* Hide overflowing content */
  transition: max-height 0.6s ease, opacity 0.6s ease; /* Transition max-height and opacity */
  z-index: 1;
}
.faq:hover .tooltip-content {
    max-height: 200px; /* Adjust as needed */
    opacity: 1;

}


.faq {
    margin-bottom: 20px; /* Adjust as needed */
    position: relative; /* Needed for absolute positioning */
}


.question {
    cursor: pointer;
    font-size: 16px;
    color: #333333;
}
.question:hover{
  
  text-decoration: underline;
}

.card-body {
    position: relative;
}


.container1{
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.content1{
    font-size:30px;
}
.container1 label{
    color:#737774;
    font-size: 15px;
}
.date{
    margin-top:-30px;
    line-height:40px;
}
.buttons {
    display: flex;
    gap: 60px;
    padding:10px;
    text-align:center;
  }
  .buttons button {
    width: 120px; 
    min-height:45px;
    display: inline-block;
  }
.button-container {
    display: flex;
    gap: 8px; 
    margin-left:680px;
    text-align:center;
    }
  .button-container p{
    color:#5A9DFF;
    font-size:15px;
    margin-left:350px;
  }
.btn {
    padding: 13px 34px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .btn-success {
    background-color:#5A9DFF;
    color: #fff;
    padding:13px 34px;
  }

.card {
      width: 280px;
    height:120px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 24px;
    margin-left: 1125px;
    position: absolute;
    top: 22px;
    /* padding: 1px; */
    /* line-height: 25px; */
    font-size: 15px;
}
  .card-body {
    padding: 5px;
  }

  .card-title {
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 5px;
    margin-top:5px;
  }
  
  .card-link {
    color:#5A9DFF; 
    text-decoration: underline;
    
  }
  .card-link:hover {
    text-decoration: underline;
  }
  .box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    height:10px;
    
 
  }

  .button2 {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
  }
  
  .button2 button {
    display:flex;
    margin-bottom: 10px; 
    width: 350px; 
    min-height:70px;
    border-radius:5px;
    border: 1px solid #ccc;
    padding:10px;
    margin-left:620px;
  }
  .button2 p{
    margin-top:30px;
    margin-left:10px;
    font-size:20px;
  }
  .button2 button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .button2 button img{
    width:50px;
    height:50px;
    margin-top:15px;

  }
  .startdate label {
    color:#88ABAC; 
    font-style:inherit;
    font-size: 18px;
    margin-left:-80px
  }
  .enddate label {
    color:#88ABAC; 
    font-style:inherit;
    font-size: 15px;
    margin-left:-80px;
  }
  .date3 label {
    color:#88ABAC; 
    font-style:inherit;
    font-size: 15px;
    margin-left:-180px;
  }
  .rental p{
    font-size:20px;
    margin-left:-100px;
  }
  .selected {
    border: 4px solid #5A9DFF;
  }
  .renewal button{
    width:250px;
    min-height:5px;
  }
  .end p{
    font-size:20px;
    margin-left:150px;
  }
  .back{
    margin-left:100px;
    margin-top:30px;
 }
 .btn1 {
     background-color: #ffffff;
     color: #0063F3; 
     padding: 10px 25px; 
     border: 2px solid #0063F3; 
     border-radius: 10px; 
     cursor: pointer; 
     font-size: 16px; 
 }
 .btn1 p {
     margin: 0; 
     color:#0063F3;
     font-size:15px;
     text-align: center;
 }
.yesno{
  margin-left:650px;
}
  
</style>