<template>
    <div>
      <div class="back">
        <router-link to="/AdditionalClauses">
        <button class="btn1"> 
        <p>BACK</p>
        </button>
        </router-link>
        </div>
        <div class="container">
        <div class="content">
            <p>
                Signing Details
            </p>
            <div class="p">
                <p>When will the rental agreement be signed?</p>
            </div><br>
            <div class="button-class">
        <div class="button">
            
            <button @click="handleButtonClick('Unsure')">
              <img src="../assets//Prac/Unsure.png" />
                <p>
                    Unsure
                </p>
            </button><br>
            <button @click="handleButtonClick('Specify Date')">
              <img src="../assets//Prac/SpecifyDate.png" /> 
              <p>
                    Specify Date
                </p>
            </button>
        </div>
        </div>
      </div>
        <div v-if="showDate" class="date">
          <div class="startdate">
            <Datepicker :date="startDate"></Datepicker>
          </div>
        </div>
        <div class="sign">
            <div class="p">
                <p>Include space to print your Residential Rental Agreement on stamp paper?</p>
            </div><br>
            <div class="yesno">
            <div class="buttons">
                <button type="button" class:selected class="btn btn-light1">YES</button>
                <button type="button" class:selected class="btn btn-light1">NO</button>
            </div>
        </div>
      </div>
        </div>
       
  <div class="button-container">
<router-link to="/DownloadInfo">
  <button type="button" class="btn btn-success">SAVE & CONTINUE</button>
</router-link>
<router-link to="/DownloadInfo">
         <p>Skip this step for now</p>
</router-link>
  </div>
</div>

</template>

<script> 
import Datepicker from 'vue-datepicker';
import moment from "moment"
export default{
  components: {
    Datepicker,
  },
  data() {
    return {
      startDate: {
        time: moment().format('YYYY-MM-DD HH:mm')
      },
      showDate: false, 
    }
  },
  methods: {
    handleButtonClick(buttonText) {
      // Update the showDate property based on the button clicked
      this.showDate = buttonText === 'Specify Date';
    },
  },


};

</script>

<style scoped>
.container {
    padding:10px;
    font-family: 'Inter', sans-serif;
    text-align: center;

}
.content{
    padding:10px;
    line-height: 40px;
    color:#000000;
    font-size:30px;
}
.content p{
    margin-bottom:-12px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  .button-class {
    margin-left:600px;
  }
 .yesno {
  margin-left:500px;
 }
/* styles.css */
.button-container {
    display: flex;
    gap: 8px;
    margin-top:10px;
    margin-left:700px;
  }
  .button-container p{
    color:#0063F3;
    font-size:15px;
    margin-left:350px;
    text-decoration: underline;
  }
.btn {
    padding: 13px 34px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .btn-success {
    background-color: #5A9DFF;
    color: #fff;
  }
  .total{
    margin-left:180px;
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
  }
  
  .button button {
    margin-bottom: 10px; 
    width: 250px; 
    height:38px;
    border-radius:5px;
    border: 1px solid #ccc;
  }
  .button p{
    margin-top:-5px;
    margin-left:15px;
    font-size:15px;
  }
  .button button:active {
    border-color:  #0063F3; 
  }
  .p{
    color:#000000;
    font-size:18px;
  }
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width: 120px; 
    height: 45px; 
  }
  .buttons p{
    color:#000000;
  }
  .buttons button:active {
    border-color: #0063F3; 
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
  }
  
  .button button {
    margin-bottom: 10px; 
    display:flex;
    padding:10px;
    width: 390px; 
    height:80px;
    border-radius:5px;
    border: 1px solid #ccc;
  }
  .button p{
    margin-top:15px;
    margin-left:35px;
    font-size:20px;
    color:#000000;
  }
  .button button img{
    width:50px;
    height:50px;
  }
  .button button:active {
    border-color: #0063F3; 
  }
  .p{
    color:black;
    font-size:18px;
  }
  .sign {
    margin-left:180px;
    font-size:20px;
  }
  .sign p{
    font-size:22px;
    margin-top:10px;
    color:#000000;
  }
  .date{
    margin-left:-80px;
    margin-top:10px;
  }
  .buttons button.selected {
    border: 4px solid #5A9DFF;
  }
  .back{
    margin-left:100px;
    margin-top:30px;
  }
  .btn1 {
     background-color: #ffffff;
     color: #0063F3; 
     padding: 10px 25px; 
     border: 2px solid #0063F3; 
     border-radius: 10px; 
     cursor: pointer; 
     font-size: 16px; 
  }
  .btn1 p {
     margin: 0; 
     color:#0063F3;
     font-size:15px;
     text-align: center;
  }

</style>