<template>
    <div>
      <div class="back">
        <router-link to="/LandlordInfo">
        <button class="btn1"> 
        <p>BACK</p>
        </button>
        </router-link>
        </div>
        <div class="container">
        <div class="content">
            <p>
                Tenant Information
                <br>
            </p>
        </div>
        <div class="tenant">
        <div v-for="(tenant, index) in tenants" :key="index" class="card1">
            <div class="p">
               <p>Tenant</p>
            </div>
            <div class="card-name">
                <label for="email">Name:</label>
                <input required="" type="text" id="name" class="input1">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <button v-if="tenants.length > 1" @click="removeTenant(index)" class="remove-button">
              REMOVE
            </button>
          </div>
          </div>
          <p style="color:#64AD7D ;
          font-size:25px;
          margin-left:-80px;
          margin-top:30px;"
          @click="addTenant">
          + Add Another Tenant
          </p>
       <div class="card">
        <div class="card-body">
          <h5 class="card-title">Frequently Asked Questions ?</h5>
          <a href="#" class="card-link">How is an occupant different from a tenant?</a>
          <div class="tooltip-content" >
            A tenant signs the rental agreement and is responsible for paying rent. An occupant is a person who lives on the property but has not signed the rental agreement, such as friends or family members.
            <br>
            <br>
           
          </div>
        </div>
      </div>
      <div class="contact">
      <p>How can the tenant be contacted?</p>
    </div>
      <div class="group">
        <label for="phone">Phone:</label>
        <input required="" type="text" id="phone" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
    </div>
    
    <div class="group">
        <label for="email">Email:</label>
        <input required="" type="email" id="email" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
        <p>(optional)</p>
    </div>
    <div class="contact1">
        Will any occupants be allowed to stay on the property?
    </div>
    <div class="tenant-btn">
    <div class="button">
        <button @click="handleButtonClick('Do not specify')">
          <img src="../assets/Prac/DonotSpecify.png" />
            <p>
                Do not specify
            </p>
        </button><br>
        <button @click="handleButtonClick('Yes, but do not listen them')">
          <img src="../assets/Prac/Yes, but do not list them.png" />
            <p>
                Yes, but do not listen them
            </p>
        </button><br>
        <button @click="handleButtonClick('Yes, and list occupants')">
          <img src="../assets/Prac/yes, list the occupants2x-min.png"  />
            <p>
                Yes, and list occupants
            </p>
        </button><br>
        <button @click="handleButtonClick('No')">
          <img src="../assets/Prac/No.png" />
            <p>
                No
            </p>
        </button>
    </div>
    </div>
     
    <div v-if="showListOtherOccupants" class="group">
      <label for="email">List other occupants:</label>
      <input required="" type="text" id="text" class="input">
      <span class="highlight"></span>
      <span class="bar"></span>
      <p>(e.g. Ashok Kumar and the Tenant's brother)</p>
  </div>
    
    
  <div class="button-container">

<router-link to="/GuarantorInfo">
      <button type="button" class="btn btn-success">  
        SAVE & CONTINUE 
    </button>
</router-link>
<router-link to="/GuarantorInfo">
  <p>Skip this step for now</p>
</router-link>
  </div>
      </div>
</div>
</template>

<script scoped> 
export default{
  data() {
    return {
      tenants: [{}], 
      selectedOption: '',
    };
  },
  computed: {
    showListOtherOccupants() {
      // Return true if the selected option is 'Yes, and list occupants'
      return this.selectedOption === 'Yes, and list occupants';
    },
  },
  methods: {
    addTenant() {
      this.tenants.push({});
    },
    removeTenant(index) {
      this.tenants.splice(index, 1);
    },
    handleButtonClick(option) {
      // Update the selected option
      this.selectedOption = option;
    },
  },
  
    

};
</script>

<style scoped>
.tooltip-content {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 30px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  opacity: 0;
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.6s ease, opacity 0.6s ease;
  z-index: 1;
}

.card-link:hover + .tooltip-content {
  max-height: 70px; 
  opacity: 1;
}
.container {
    padding:10px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.content{
    padding:10px;
    line-height: 40px;
}
.content p{
    
    color:#000000;
    font-size:30px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  
  
/* styles.css */
.button-container {
    display: flex;
    gap: 8px;
    margin-top:50px;
    margin-left:630px;
  }
  .button-container p{
    color:#0063F3;
    font-size:15px;
    text-decoration: underline;
    margin-left:350px;
  }
.btn {
    padding: 13px 34px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-success {
    background-color: #5A9DFF;
    color: #fff;
  }
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width: 110px; 
    height: 35px; 
  }
  .buttons button:active {
    border-color:  #0063F3; 
  }
  .p{
    margin-left:180px;
  }
  .card1 {
    width: 435px;
    margin-left: 0;
    margin-bottom: 25px;
    padding: 30px;
    box-shadow: 0px 0px 5px 2px #cccccc;
    height: 120px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:100px;
  }
 .card1 p{
  color:#000000;
  font-size:20px;
  margin-left:-80px;
 }
  .group p{
    color:#000000;
    font-style:italic;
    margin-left:10px;
  }
 
.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1100px;
    position:absolute;
    top:200px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:5px;
  }
  
  .card-link {
    color:  hwb(114 19% 49%); 
    text-decoration: underline;
    
  }
  .card-link:hover {
    text-decoration: underline;
  }
  .group {
    position: relative;
    margin-left:-270px;
    margin-top:20px;
    text-align: center;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    margin-left: 800px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }
   
   .input:focus {
    outline: none;
   }
   
   label for phone,email,name{
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
   
   }
   
   .bar {
    position: relative;
    display: block;
    width: 600px;
   }
  .p{
    margin-left:-300px;
    line-height: 40px;
  }
  .contact{
    font-size:20px;
    text-align:center;
    margin-left:0px;
  }
  .contact p{
    color:#000000;
    font-size:22px;
  }
  .button {
    display: flex;
    flex-direction: column; 
    margin-top:20px;
  }
  
  .button button {
    display:flex;
    margin-bottom: 10px; 
    width: 390px; 
    height:80px;
    border-radius:5px;
    border: 1px solid #f4efef;
    margin-left:180px;
    padding:10px;
  }
  .button p{
    margin-top:30px;
    margin-left:30px;
    font-size:20px;
    color:#000000;
    text-align: left;
  }
  .button button img{
    width:50px;
    height:50px;
    margin-top:10px;
  }
  .button button:active {
    border-color: #0063F3; 
  }
  
  .back{
    margin-left:100px;
    margin-top:30px;
 }
 .btn1 {
     background-color: #ffffff;
     color: #0063F3; 
     padding: 10px 25px; 
     border: 2px solid #0063F3; 
     border-radius: 10px; 
     cursor: pointer; 
     font-size: 16px; 
 }
 .btn1 p {
     margin: 0; 
     color:#0063F3;
     font-size:15px;
     text-align: center;
 }
 .tenant {
  margin-left:380px;
 }
 .card-name {
  position: relative;
  text-align: left;
  margin-left:150px;
  margin-top:20px;
  color:#000000;
  font-size:18px;
 }
 .input1{
  font-size: 16px;
  margin-bottom: 36px;
  padding: 10px 10px 10px 5px;
  margin-left:0px;
  display: block;
  width: 393px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
 }
 .input1:focus {
  outline: none;
 }
 .contact1{
  font-size:22px;
  color:#000000;
  margin-left:120px;

 }
 .tenant-btn {
  margin-left:350px;
 }
 .remove-button {
  color: #ff0000;
  background-color:#ffffff;
  padding: 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 430px; /* Adjust top position as needed */
  right: 550px; /* Adjust right position as needed */
}

</style>