<template >
  <!-- <TopbarView/> -->
<router-view></router-view>
  <FooterView/>

</template>

<script setup>
  //  import TopbarView from './layouts/TopbarView.vue';
   import FooterView from './layouts/FooterView.vue';
</script>

<style>
#app {
  font-family: 'Inter', sans-serif;
}
</style>
